
.vcg .list {
    border : none;
}

.vcg .list table {
    width   : 100%;
}

.vcg .list table td:nth-child(1) .button {
    margin-right    : .75em;
}

.vcg .list table td:nth-child(2) .button {
    margin-left     : .75em;
}










