.frs .body .l {
    padding     : 2em;
    padding-top : 0;
}

.frs .body .l img {
    width   : 10em;
    height  : 10em;
}
.frs .body .l input[type=file] {
    width   : 10em;
    height  : 10em;
    position: absolute;
    top     : 0;
    left    : 0;
    opacity : 0;
    cursor  : pointer;
}

.frs .body .r >div {
    margin  : 1em;
}

