.frs .body .tab {
    height  : 100%;
}

.frs .body .tab >div:nth-child(1) >div {
    padding     : .5em 4em;
}

.frs .body .tab .tab-of {
    height      : 100%;
    width       : 100%;
}
.frs .body .tab .tab-of >div {
    position    : absolute;
    top         : 30%;
    width       : 100%;
}
.frs .body .tab .tab-of >div:nth-child(1) {
    text-align      : center;
    vertical-align  : bottom;
}
.frs .body .tab .tab-of >div:nth-child(1) >* {
    margin  : .5em;
}
.frs .body .tab .tab-of >div:nth-child(1) input {
    text-align  : center;
    width       : 50%;
}
