.frs .body .bar-s {
    border-bottom   : 1px solid lightgray;
}
.frs .body .bar-s .button {
    padding     : .25em;
    margin      : .5em;
    min-width   : 1.5em;
    height      : 1.5em;
}
.frs .body .bar-l {
    background      : #eeeeee;
    border-bottom   : 1px solid lightgray;
}
.frs .body .bar-l .button {
    padding     : .25em .5em;
    margin      : .5em;
}

.frs .body .player {
    position    : absolute;
    top         : 2.5em;
    left        : 0;
    width       : 100%;
    bottom      : 0;
}

.frs .body .jstree {
    padding : 1em;
}

.frs .body .list {
    position    : absolute;
    width       : 100%;
    top         : 6.8em;
    bottom      : 0;
    left        : 0;
    background  : white;
}