.frs {
    background  : #333333;
}
.frs .body .logo {
    color       : white;
    font-size   : 2em;
    text-align  : center;
}
.frs .dialog {
    width   : 20em;
}
.frs .dialog .button, .frs .dialog input {
    padding : .75em;
}
