.sn .body {
    padding : 3em 0;
}

.sn .foot .send {position : absolute; z-index : 3; width : 3em; height : 3em; top : 50%; left : 50%; transform : translate(-50%, -50%); -webkit-transform : translate(-50%, -50%);}
.sn .foot .send {
    background-color        : lightgray;
            border-radius   : 1.5em;
    -webkit-border-radius   : 1.5em;
            transition      : background-color .2s cubic-bezier(0,0.5,0.5,1);
    -webkit-transition      : background-color .2s cubic-bezier(0,0.5,0.5,1);
}
.sn .foot .send:active {
    background-color        : gray;
}

.sn .dialog-send {height : 10em; top : 80%; overflow : hidden;}
.sn .send-panel {position : absolute; width : 100%; height : 100%;}
.sn .send-panel >*:nth-child(1) {padding : .5em 1em;}
.sn .send-panel >*:nth-child(1) img {width : 1em; vertical-align: middle;}
.sn .send-panel >*:nth-child(1) div {display : inline; font-size : .9em; color : gray; margin-left : .5em;}
.sn .send-panel >*:nth-child(2) {width : 100%;}
.sn .send-panel >*:nth-child(2) textarea {position : absolute; top : 2em; left  : .5em; bottom : 2.5em; right :  6em;}
.sn .send-panel >*:nth-child(2) .choose-image {position : absolute; top : 2.1em; width :  5em; bottom : 2.6em; right : .5em;}
.sn .send-panel >*:nth-child(2) .choose-image >*     {border-radius : 1em; -webkit-border-radius : 1em;}
.sn .send-panel >*:nth-child(2) .choose-image >input {top : -5.2em;}
.sn .send-panel >*:nth-child(3) {position : absolute; width : 100%; bottom : .5em; text-align : center; color : blue;}
.sn .send-panel >*:nth-child(3) .button {margin : 0 1em;}


.sn .msg {
    width               : 100%;
    padding             : .3em;
    padding-bottom      : 0;
            transition  : opacity .5s;
    -webkit-transition  : opacity .5s;
}
.sn .msg table {
    width : 100%;
}
.sn .msg table td:nth-child(2) {
    width           : 3em;
    padding-left    : .3em;
}
.sn .msg .mc {
    background-color        : rgba(255, 255, 255, .9);
            border-radius   : 1.5em;
    -webkit-border-radius   : 1.5em;
            transition      : background-color .5s;
    -webkit-transition      : background-color .5s;
}
.sn .msg .mc:active {
    background-color        : rgba(200, 200, 200, .9);
}
.sn .msg .mc .mh {
    height  : 3em;
}
.sn .msg .mc .mh >div:nth-child(1) {
    padding         : .5em 1em;
    padding-bottom  : 0;
}
.sn .msg .mc .mh >div:nth-child(1) * {
    float   : left;
}
.sn .msg .mc .mh >div:nth-child(1) img {
    width   : 2.5em;
    height  : 2.5em;
            border-radius   : 1.25em;
    -webkit-border-radius   : 1.25em;
}
.sn .msg .mc .mh >div:nth-child(1) div {
    line-height     : 2.5em;
    padding-left    : .5em;
}
.sn .msg .mc .mb {
    padding         : 0 1em;
    line-height     : 1.3em;
}
.sn .msg .mc .mb >div:nth-child(1) {
    margin-top  : .8em;
    line-height : 1.5em;
}
.sn .msg .mc .mb >img:nth-child(2) {
    max-width   : 100%;
    max-height  : 10em;
    margin-top  : .5em;
}
.sn .msg .mc .mb .ass {
    height      : 1em;
    margin-top  : .5em;
}
.sn .msg .mc .mb .ass * {
    float   : left;
}
.sn .msg .mc .mb .ass img {
    width       : .8em;
}
.sn .msg .mc .mb .ass div {
    font-size       : .8em;
    line-height     : 1.1em;
    margin-left     : .3em;
    margin-right    : 1em;
    color           : gray;
}
.sn .msg .mc .mf {
    padding-bottom  : .5em;
    text-align      : center;
}
.sn .msg .mc .mf .button {
    padding     : .4em .8em;
}
.sn .msg .ma {
    text-align  : center;
}
.sn .msg .ma >div:nth-child(1) {
    height              : 2.5em;
    border-radius       : 1.5em 1.5em 0 0;
    background          : rgba(255, 255, 255, .9) url('res/msg-up.png') no-repeat center;
    background-size     : 1.2em;
            transition  : background .2s linear;
    -webkit-transition  : background .2s linear;
}
.sn .msg .ma >div:nth-child(1):active {
    background          : rgba(160, 160, 160, .9) url('res/msg-up.png') no-repeat center;
    background-size     : 1.2em;
}
.sn .msg .ma >div:nth-child(2) {
    line-height : 1.5em;
    padding     : .3em;
    margin      : 1px 0;
    background-color    : rgba(255, 255, 255, .9);
    color       : gray;
}
.sn .msg .ma >div:nth-child(3) {
    height              : 2.5em;
    border-radius       : 0 0 1.5em 1.5em;
    background          : rgba(255, 255, 255, .9) url('res/msg-down.png') no-repeat center;
    background-size     : 1.2em;
            transition  : background .2s linear;
    -webkit-transition  : background .2s linear;
}
.sn .msg .ma >div:nth-child(3):active {
    background          : rgba(160, 160, 160, .9) url('res/msg-down.png') no-repeat center;
    background-size     : 1.2em;
}

.sn .detail {
    width   : 100%;
    height  : 100%;
}
.sn .detail .ct {
    position    : absolute;
    z-index     : 13;
    width       : 100%;
    top         : 0;
    left        : 0;
    bottom      : 2.5em;
    overflow    : auto;
}
.sn .detail .ct .msg {
    padding         : 0;
    padding-right   : .5em;
    font-size       : 1.1em;
}
.sn .detail .ct .msg .mc {
    background-color    : rgba(0,0,0,0);
}
.sn .detail .ct .msg .mc .mb >img {
    max-height          : none;
}
.sn .detail .ct .msg table tr td {
    vertical-align: top;
}
.sn .detail .ct .msg .ma >div {
    background-color    : rgba(0,0,0,0);
}
.sn .detail .ct .focus {
    padding         : .5em 1em;
    padding-bottom  : 0;
}
.sn .detail .ct .focus >div:nth-child(2n+1) {
    color       : gray;
    font-size   : .9em;
}
.sn .detail .ct .focus >div:nth-child(2), .sn .detail .focus >div:nth-child(4) {
    padding-bottom : .8em;
}
.sn .detail .ct .focus img {
    width   : 2.2em;
    height  : 2.2em;
    margin  : .2em;
            border-radius   : 1.1em;
    -webkit-border-radius   : 1.1em;
}
.sn .detail .ct .reply >*:nth-child(1) {
    float   : left;
    width   : 2.4em;
    height  : 2.4em;
            border-radius   : 1.2em;
    -webkit-border-radius   : 1.2em;
}
.sn .detail .ct .reply >*:nth-child(2) {
    float       : left;
    line-height : 2.5em;
    margin-left : .5em;
}
.sn .detail .ct .reply >*:nth-child(3) {
    float       : right;
    font-size   : .9em;
    margin-top  : .5em;
    color       : gray;
}
.sn .detail .ct .reply >*:nth-child(4) {
    margin-top  : 2.5em;
}
.sn .detail .ct .reply >*:nth-child(5) {
    max-width   : 100%;
    max-height  : 10em;
}
.sn .detail .send {
    position    : absolute;
    z-index     : 14;
    width       : 100%;
    height      : 10em;
    bottom      : 0;
    padding     : .5em 1em;
    opacity     : 0;
            transition  : opacity .5s cubic-bezier(0,0.5,0.5,1);
    -webkit-transition  : opacity .5s cubic-bezier(0,0.5,0.5,1);
}
.sn .detail .send textarea {
    float   : left;
    width   : 74%;
    height  : 6.5em;
}
.sn .detail .send .choose-image {
    float   : right;
    width   : 25%;
    height  : 6.5em;
    border-radius   : 1em;
}
.sn .detail .send .choose-image >* {
    border-radius   : 1em;
}
.sn .detail .send div:nth-child(3) {
    margin-top          : 7.5em;
    text-align          : center;
    background-color    : lightgray;
}
.sn .detail .send div:nth-child(3) .button {
    margin      : .5em 1em;
}
.sn .detail .action {
    position    : absolute;
    z-index     : 13;
    bottom      : 0;
    width       : 100%;
    height      : 2.5em;
    line-height : 2.5em;
    text-align  : center;
}
.sn .detail .action .button {
    margin  : .5em 1em;
}
