.sn .body {
    padding : 3em 0;
}

.sn .msg {
    width               : 100%;
    padding             : .3em;
    padding-bottom      : 0;
            transition  : opacity .5s;
    -webkit-transition  : opacity .5s;
}
.sn .msg table {
    width : 100%;
}
.sn .msg table td:nth-child(2) {
    width           : 3em;
    padding-left    : .3em;
}
.sn .msg .mc {
    background-color        : rgba(255, 255, 255, .9);
            border-radius   : 1.5em;
    -webkit-border-radius   : 1.5em;
            transition      : background-color .5s;
    -webkit-transition      : background-color .5s;
}
.sn .msg .mc:active {
    background-color        : rgba(200, 200, 200, .9);
}
.sn .msg .mc .mh {
    height  : 3em;
}
.sn .msg .mc .mh >div:nth-child(1) {
    padding         : .5em 1em;
    padding-bottom  : 0;
}
.sn .msg .mc .mh >div:nth-child(1) * {
    float   : left;
}
.sn .msg .mc .mh >div:nth-child(1) img {
    width   : 2.5em;
    height  : 2.5em;
    border  : 1px solid gray;
            border-radius   : 1.25em;
    -webkit-border-radius   : 1.25em;
}
.sn .msg .mc .mh >div:nth-child(1) div {
    line-height     : 2.5em;
    padding-left    : .5em;
}
.sn .msg .mc .mb {
    padding         : 0 1em;
    line-height     : 1.3em;
}
.sn .msg .mc .mb >div:nth-child(1) {
    margin-top  : .8em;
    line-height : 1.5em;
}
.sn .msg .mc .mb >img:nth-child(2) {
    max-width   : 100%;
    max-height  : 10em;
    margin-top  : .5em;
}
.sn .msg .mc .mb .ass {
    height      : 1em;
    margin-top  : .5em;
}
.sn .msg .mc .mb .ass * {
    float   : left;
}
.sn .msg .mc .mb .ass img {
    width       : .8em;
}
.sn .msg .mc .mb .ass div {
    font-size       : .8em;
    line-height     : 1.1em;
    margin-left     : .3em;
    margin-right    : 1em;
    color           : gray;
}
.sn .msg .mc .mf {
    padding-bottom  : .8em;
    text-align      : center;
}
.sn .msg .mc .mf .button {
    padding     : .4em .8em;
}
.sn .msg .ma {
    text-align  : center;
}
.sn .msg .ma >div:nth-child(1) {
    height              : 2.5em;
    border-radius       : 1.5em 1.5em 0 0;
    background          : rgba(255, 255, 255, .9) url('res/msg-up.png') no-repeat center;
    background-size     : 1.2em;
            transition  : background .2s linear;
    -webkit-transition  : background .2s linear;
}
.sn .msg .ma >div:nth-child(1):active {
    background          : rgba(160, 160, 160, .9) url('res/msg-up.png') no-repeat center;
    background-size     : 1.2em;
}
.sn .msg .ma >div:nth-child(2) {
    line-height : 1.5em;
    padding     : .3em;
    margin      : 1px 0;
    background-color    : rgba(255, 255, 255, .9);
    color       : gray;
}
.sn .msg .ma >div:nth-child(3) {
    height              : 2.5em;
    border-radius       : 0 0 1.5em 1.5em;
    background          : rgba(255, 255, 255, .9) url('res/msg-down.png') no-repeat center;
    background-size     : 1.2em;
            transition  : background .2s linear;
    -webkit-transition  : background .2s linear;
}
.sn .msg .ma >div:nth-child(3):active {
    background          : rgba(160, 160, 160, .9) url('res/msg-down.png') no-repeat center;
    background-size     : 1.2em;
}

.sn .reply {}
.sn .reply .msg {
    padding         : 0;
    padding-right   : .5em;
    font-size       : 1.1em;
}
.sn .reply .msg .mc {
    background-color    : rgba(0,0,0,0);
}
.sn .reply .msg .mc .mb >img {
    max-height          : none;
}
.sn .reply .msg table tr td {
    vertical-align: top;
}
.sn .reply .msg .ma >div {
    background-color    : rgba(0,0,0,0);
}
.sn .reply .focus {
    padding     : .5em 1em;
}
.sn .reply .focus >div:nth-child(2n+1) {
    color       : gray;
    font-size   : .9em;
}
.sn .reply .focus >div:nth-child(2), .sn .reply .focus >div:nth-child(4) {
    padding-bottom : .5em;
}
.sn .reply .focus img {
    width   : 2.2em;
    height  : 2.2em;
    margin  : .2em;
            border-radius   : 1.1em;
    -webkit-border-radius   : 1.1em;
}
.sn .reply .focus >div:nth-child(6) {
}
.sn .reply .cell {
    
}
.sn .reply .action {
    position    : absolute;
    width       : 100%;
    height      : 2em;
    bottom      : 0;
    text-align  : center;
}
.sn .reply .action .button {
    margin      : .5em 1em;
}
