
.index-searchbar {
    height      : 3em;
    background  : lightgray;
}

.index-searchbar .button {
    float   : left;
    margin  : .7em 1em;
    width   : 5em;
}

.index-searchbar input {
    position    : absolute;
    top         : .4em;
    left        : 9.5em;
    right       : 1em;
}

.index-content {
    position    : absolute;
    top         : 3em;
    bottom      : 0;
    left        : 0;
    right       : 0;
    overflow    : auto;
}

.index-poster {
    padding : .5em 1em;
}

.index-poster a img {
    width   : 100%;
    border-radius           : 1em;
    -webkit-border-radius   : 1em;
}


