<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>逢佳的博客</title>
        <style th:replace="~{fragments/common :: style}"></style>
    </head>
    <body>
        <div th:replace="~{fragments/jumbotron :: index}"></div>
        <div class="container">
            <div class="row"
                th:if="null != ${#session} and null != ${#session.getAttribute('user')}">
                <div class="col-lg">
                    <button class="btn btn-primary btn-block mt-4"
                        onclick="window.location = '/article/edit';"
                        th:text="发布"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                     <div th:replace="~{fragments/article :: list(${articles})}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
