
.index-searchbar {
    position    : absolute;
    z-index     : 10;
    top         : 0;
    width       : 100%;
    height      : 3em;
    background  : lightgray;
}

.index-searchbar .button {
    float   : left;
    margin  : .7em 1em;
    width   : 5em;
}

.index-searchbar input {
    position    : absolute;
    top         : .5em;
    left        : 5.6em;
    right       : .8em;
    font-size   : 1.2em;
    background  : white;
    border      : 1px solid gray;
}

.index-content {
    position    : absolute;
    top         : 3em;
    bottom      : 0;
    left        : 0;
    right       : 0;
    overflow    : auto;
}

.index-poster {
    padding : .5em 1em;
}

.index-poster a img {
    width   : 100%;
    border-radius           : 1em;
    -webkit-border-radius   : 1em;
}

.index-menu {
    position    : absolute;
    left        : 0;
    width       : 100%;
    height      : 3em;
    overflow    : auto;
    border      : 1px solid lightgray;
    transition          : top .5s;
    -webkit-transition  : top .5s;
}

.index-menu td        {
    background  : #fafafa;
    padding     : 0 2em;
    height      : 2.9em;
    line-height : 2.9em;
    white-space : nowrap;
    cursor      : default;
    transition          : background .2s;
    -webkit-transition  : background .2s;
}
.index-menu td:hover  { background : white; }
.index-menu td:active { background : lightgray; }

