/* system */
* {
    /* 边框体积 */
            box-sizing          : border-box;
    -webkit-box-sizing          : border-box;
    /* 硬件加速 */
            overflow-scrolling  : touch;
    -webkit-overflow-scrolling  : touch;
    /* 长按菜单 */
            touch-callout       : none;
    -webkit-touch-callout       : none;
    /* 点击遮罩 */
            tap-highlight-color : rgba(0,0,0,0);
    -webkit-tap-highlight-color : rgba(0,0,0,0);
    /* 动画效果 */
            transition          : all .5s ease-out;
    -webkit-transition          : all .5s ease-out;
}
div {
    position    : relative;
    cursor      : default;
    overflow    : hidden;
            user-select : none;
    -webkit-user-select : none;
}
img {
    vertical-align  : middle;
}
input, textarea, select {
    border                  : none;
    font-size               : 1em;
            appearance      : none;
    -webkit-appearance      : none;
}
input, select {
    padding     : .75em 1em;
    background  : rgba(0, 0, 0, 0)
}
textarea {
    padding : 0 .5em;
}
table {
    border-collapse : collapse;
}
html, body {
    margin  : 0;
    width   : 100%;
    height  : 100%;
}

/* basic */
.xs {
    width       : 100%;
    height      : 100%;
    /* 字体 */
    font-size   : 14px;
    font-family : 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Verdana', 'Aril', 'sans-serif';
    color       : #000033;
}

/* function */
.xs .disappear {
    opacity : 0 !important;
}
.xs .center {
    position    : absolute  !important;
    top         : 50%       !important;
    left        : 50%       !important;
            transform   : translate(-50%, -50%) !important;
    -webkit-transform   : translate(-50%, -50%) !important;
}

/* component */
.xs .cover {
    display : inline-block;
    height  : 2.5em;
}
.xs .cover img {
    width   : 2.5em;
    height  : 2.5em;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
}
.xs .cover div {
    display     : inline-block;
    vertical-align  : top;
    line-height : 2.5em;
    margin-left : .5em;
}

.xs .button {
    display         : inline-block;
    vertical-align  : top;
    padding         : .5em;
            border-radius   : .2em;
    -webkit-border-radius   : .2em;
}
.xs .button:active {
    opacity : .6;
}
.xs .button-high {
    background  : #333366;
    color       : white;
    border      : 1px solid gray;
}
.xs .button-dark {
    background  : #dddddd;
    color       : gray;
    border      : 1px solid gray;
}

.xs .page-stack {
    width       : 100%;
    height      : 100%;
    background  : black;
}
.xs .page-stack .page {
    position    : absolute;
    width       : 100%;
    height      : 100%;
    top         : 0;
    left        : 0;
    overflow-y  : auto;
    background  : white;
}
.xs .page-stack .page-down {
    left    : -30%  !important;
            transform   : scale(.9);
    -webkit-transform   : scale(.9);
}
.xs .page-stack .page-mid {
}
.xs .page-stack .page-up {
    left    : 100%  !important;
}

.xs .mask {
    position    : absolute;
    z-index     : 1;
    width       : 100%;
    height      : 100%;
    top         : 0;
    left        : 0;
    background  : white;
    opacity     : .5;
}
.xs .dialog {
    position    : absolute;
    z-index     : 10;
    display     : inline-block;
    background  : white;
    border      : 1px solid gray;
    box-shadow  : gray 0px 0px 10px;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;

    min-width   : 60%;
    max-width   : 80%;
    max-height  : 80%;
    padding     : .5em 0;
}
.xs .dialog-disappear {
    opacity : 0     !important;
    top     : 55%   !important;
}
.xs .dialog-shake {
            animation   : dialog-shake .5s;
    -webkit-animation   : dialog-shake .5s;
}
@keyframes dialog-shake {
      0% {left : 50%;}
     10% {left : 45%;}
     20% {left : 55%;}
     40% {left : 47%;}
     60% {left : 53%;}
     80% {left : 49%;}
    100% {left : 50%;}
}
@-webkit-keyframes dialog-shake {
      0% {left : 50%;}
     10% {left : 45%;}
     20% {left : 55%;}
     40% {left : 47%;}
     60% {left : 53%;}
     80% {left : 49%;}
    100% {left : 50%;}
}


.xs .spinnerc {
    display : inline-block;
}

.xs .list {
    overflow-y  : auto;
}
.xs .list >div {
    padding         : .75em;
    border-bottom   : 1px solid #dddddd;
}
.xs .list >div:last-child {
    border-bottom   : none  !important;
}
.xs .list >div:active {
    background      : #dddddd;
}
.xs .list >div .icon {
    float           : left;
    margin-right    : .75em;
}
.xs .list >div .accessory {
    position    : absolute;
    height      : 1.5em;
    width       : 1.5em;
    top         : 50%;
    right       : .5em;
            transform   : translateY(-50%);
    -webkit-transform   : translateY(-50%);
}
.xs .list >div .major {}
.xs .list >div .minor {
    font-size   : .9em;
    color       : gray;
}

.xs .hud-minor {
    position    : absolute;
    z-index     : 50;
    top         : 70%;
    left        : 50%;
            transform   : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);

    max-width   : 80%;
    word-wrap   : break-word;
    padding     : .75em;
    text-align  : center;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
    background  : black;
    color       : white;
    opacity     : .7;
}

.xs .shape {
    display     : inline-block;
}
.xs .shape * {
    display     : inline-block;
    position    : absolute;
    top         : 50%;
    left        : 50%;
            transform   : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);
}
.xs .shape .arrow-r {
    width   : 70%;
    height  : 70%;
    left    : 15%;
            transform   : translate(-50%, -50%) rotate(45deg);
    -webkit-transform   : translate(-50%, -50%) rotate(45deg);
}
.xs .shape .plus-h {
    width   : 100%;
}
.xs .shape .plus-v {
    height  : 100%;
}

/* framework */
.xs .head {
    position    : absolute;
    width       : 100%;
    height      : 3.5em;
    top         : 0;
    left        : 0;
    padding     : .5em;
    background  : #000033;
}
.xs .head .l {
    display : inline-block;
    height  : 100%;
    padding : .5em 0;
}
.xs .head .m {
    position    : absolute;
    display : inline-block;
    height  : 100%;
    top     : 0;
    left    : 50%;
            transform   : translateX(-50%);
    -webkit-transform   : translateX(-50%);
    padding : 1em 0;
}
.xs .head .r {
    display : inline-block;
    float   : right;
    height  : 100%;
    padding : .5em 0;
}
.xs .head-disappear {
    opacity : 0 !important;
            transition  : all .25s  !important;
    -webkit-transition  : all .25s  !important;
}
.xs .head .cover {
    top         : -.5em;
}
.xs .head .cover div {
    color       : white;
    font-size   : 1.2em;
    line-height : 2.1em;
}
.xs .head .button {
    padding     : 0;
    margin      : 0 .5em;
    color       : #ccccff;
    line-height : 1.5em;
    min-width   : 1.5em;
    min-height  : 1.5em;
            border-radius   : 0;
    -webkit-border-radius   : 0;
}
.xs .head .button .shape {
    width   : 1.5em;
    height  : 1.5em;
}
.xs .body {
    position    : absolute;
    width       : 100%;
    top         : 3.5em;
    left        : 0;
    bottom      : 0;
}

/* article */
.xs .ae {}
.xs .ae .ah {
    padding : .5em;
}
.xs .ae .ah input {
    width           : 100%;
    padding-left    : .2em;
    font-size       : 1.2em;
    color           : #000033;
}
.xs .ae .ah input::input-placeholder         {color : #ccccff;}
.xs .ae .ah input::-webkit-input-placeholder {color : #ccccff;}
.xs .ae .apn {
    margin      : .5em;
    height      : 12em;
    border      : 4px solid gray;
    background  : lightgray;
    opacity     : .3;
}
.xs .ae .apn:active {
    opacity     : 1;
}
.xs .ae .apn .shape {
    width   : 5em;
    height  : 5em;
}



