/* system */
* {
    /* 边框体积 */
            box-sizing          : border-box;
    -webkit-box-sizing          : border-box;
    /* 硬件加速 */
            overflow-scrolling  : touch;
    -webkit-overflow-scrolling  : touch;
    /* 长按菜单 */
            touch-callout       : none;
    -webkit-touch-callout       : none;
    /* 点击遮罩 */
            tap-highlight-color : rgba(0,0,0,0);
    -webkit-tap-highlight-color : rgba(0,0,0,0);
}
div {
    cursor              : default;
            user-select : none;
    -webkit-user-select : none;
}
img {vertical-align     : middle;}
input, textarea, select {
    border                  : none;
    background-color        : white;
    font-size               : 1em;
            border-radius   : .2em;
    -webkit-border-radius   : .2em;
            appearance      : none;
    -webkit-appearance      : none;
}
input, select {
    padding : 0 1em;
    height  : 2em;
}
textarea {padding : 0 .5em;}
table {border-collapse : collapse;}
html, body {
    margin  : 0;
    width   : 100%;
    height  : 100%;
}

/* basic */
div {
            transition  : opacity .5s, background .5s, background-color .5s, left .5s, right .5s, top .5s, bottom .5s, width, height,         transform;
    -webkit-transition  : opacity .5s, background .5s, background-color .5s, left .5s, right .5s, top .5s, bottom .5s, width, height, -webkit-transform;
}

.disappear {
    opacity : 0 !important;
}
.xs {
    width       : 100%;
    height      : 100%;
    /* 字体 */
    font-size   : 14px;
    font-family : 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Verdana', 'Aril', 'sans-serif';
}

.xs .center {
    position    : absolute;
    top         : 50%;
    left        : 50%;
            transform   : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);
}

.xs .cover {
    display : inline-block;
    height  : 2.5em;
}
.xs .cover img {
    width   : 2.5em;
    height  : 2.5em;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
}
.xs .cover div {
    display     : inline-block;
    vertical-align  : top;
    line-height : 2.5em;
    margin-left : .5em;
}

.xs .button {
    display     : inline-block;
    vertical-align  : top;
}
.xs .button:active {
    opacity : .6;
}

.xs .page-set {
    overflow-x  : hidden;
}
.xs .page-set .page {
    position    : absolute;
    width       : 100%;
    height      : 100%;
    top         : 0;
    left        : 0;
    overflow    : auto;
}
.xs .page-set .page-l {
    opacity : 0;
    left    : -100%;
}
.xs .page-set .page-r {
    opacity : 0;
    right   : -100%;
}

.xs .mask {
    position    : absolute;
    z-index     : 1;
    width       : 100%;
    height      : 100%;
    top         : 0;
    left        : 0;
    background  : white;
    opacity     : .5;
}
.xs .dialog {
    z-index     : 10;
    display     : inline-block;
    border      : .1px solid gray;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
    background  : white;
    box-shadow  : gray 0px 0px 10px;
}
.xs .dialog-disappear {
    opacity : 0     !important;
    top     : 55%   !important;
}

.xs .spinnerc {
    position    : relative;
    display     : inline-block;
}

.xs .article .h1 {
    font-weight : 600;
}

.xs .list {
    border-top : .1px solid #eeeeee;
}
/* cell */
.xs .list >div {
    border-bottom   : .1px solid #eeeeee;
}
.xs .list >div:active {
    background  : #eeeeee;
}


.xs .head {
    position    : absolute;
    width       : 100%;
    height      : 3.5em;
    top         : 0;
    left        : 0;
    padding     : .5em;
    background  : #000033;
}
.xs .head .l {
    display : inline-block;
    height  : 100%;
    padding : .5em 0;
}
.xs .head .l .cover {
    position    : relative;
    top         : -.5em;
}
.xs .head .l .cover div {
    color       : #f2f2f2;
    font-size   : 1.2em;
    position    : relative;
    top         : -.2em;
}
.xs .head .m {
    position    : absolute;
    display : inline-block;
    height  : 100%;
    top     : 0;
    left    : 50%;
            transform   : translateX(-50%);
    -webkit-transform   : translateX(-50%);
    padding : .5em 0;
}
.xs .head .r {
    display : inline-block;
    float   : right;
    height  : 100%;
    padding : .5em 0;
}
.xs .head .r .button {
    margin  : 0 .5em;
    height  : 100%;
}
.xs .head .r .button img {
    height  : 100%;
}
.xs .head .r .button div {
    line-height : 100%;
}
.xs .body {
    position    : absolute;
    width       : 100%;
    top         : 3.5em;
    left        : 0;
    bottom      : 0;
    overflow    : auto;
}


