/* system */
* {
    /* 边框体积 */
            box-sizing          : border-box;
    -webkit-box-sizing          : border-box;
    /* 硬件加速 */
            overflow-scrolling  : touch;
    -webkit-overflow-scrolling  : touch;
    /* 长按菜单 */
            touch-callout       : none;
    -webkit-touch-callout       : none;
    /* 点击遮罩 */
            tap-highlight-color : rgba(0,0,0,0);
    -webkit-tap-highlight-color : rgba(0,0,0,0);
    /* 动画效果 */
            transition          : all .5s cubic-bezier(0.2, 0.2, 0, 0.9);
    -webkit-transition          : all .5s cubic-bezier(0.2, 0.2, 0, 0.9);
}
div {
    position    : relative;
    cursor      : default;
    overflow    : hidden;
            user-select : none;
    -webkit-user-select : none;
}
input, textarea, select {
    font-size       : 1em;
    vertical-align  : middle;
    background      : transparent;
            appearance      : none;
    -webkit-appearance      : none;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
    
    border      : 1px solid rgba(0, 0, 0, 0);
    box-shadow  : 0px 0px .5em rgba(0, 0, 0, 0);
}
input:focus, textarea:focus, select:focus {
    border      : 1px solid #333366;
    box-shadow  : 0px 0px .5em #333366;
}
input, select {
    padding     : .75em .5em;
}
textarea {
    padding : 0 .25em;
}
img {
    vertical-align  : middle;
}
table {
    border-collapse : collapse;
}
html, body {
    margin  : 0;
    width   : 100%;
    height  : 100%;
}

/* basic */
.frs {
    width       : 100%;
    height      : 100%;
    /* 字体 */
    font-size   : 16px;
    font-family : 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Verdana', 'Aril', 'sans-serif';
}

/* function */
.frs .disappear {
    opacity : 0 !important;
}
.frs .center {
    position    : absolute  !important;
    top         : 50%       !important;
    left        : 50%       !important;
            transform   : translate(-50%, -50%) !important;
    -webkit-transform   : translate(-50%, -50%) !important;
}
.frs .fast {
            transition  : all .25s cubic-bezier(0.2, 0.2, 0, 0.9);
    -webkit-transition  : all .25s cubic-bezier(0.2, 0.2, 0, 0.9);
}


/* component */
.frs .button {
    display         : inline-block;
    vertical-align  : top;
    text-align      : center;
    padding         : .5em 1em;
            border-radius   : .2em;
    -webkit-border-radius   : .2em;
    cursor          : pointer;
    opacity : .8;
}
.frs .button:hover {
    opacity : .9;
}
.frs .button:active {
    opacity : 1;
}
.frs .button-major {
    background  : #333366;
    color       : white;
}
.frs .button-minor {
    background  : #eeeeee;
    color       : black;
}
.frs .button-disable {
    background  : #eeeeee;
    color       : gray;
}
.frs .button .shape {
    position    : absolute;
    width       : 100%;
    height      : 100%;
    top         : 50%;
    left        : 50%;
    cursor      : pointer;
}
.frs .button .shape * {
    cursor      : pointer;
}
.frs .mask {
    position    : absolute;
    z-index     : 10;
    width       : 100%;
    height      : 100%;
    top         : 0;
    left        : 0;
    background  : white;
    opacity     : .5;
}
.frs .dialog {
    position    : absolute;
    z-index     : 20;
    display     : inline-block;
    background  : white;
    box-shadow  : white 0px 0px .7em;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;

    max-width   : 90%;
    max-height  : 90%;
    padding     : .5em 0;
}
.frs .dialog-disappear {
    opacity : 0     !important;
    top     : 55%   !important;
}
.frs .dialog-shake {
            animation   : dialog-shake .5s;
    -webkit-animation   : dialog-shake .5s;
}
@keyframes dialog-shake {
      0% {left : 50%;}
     10% {left : 45%;}
     20% {left : 55%;}
     40% {left : 47%;}
     60% {left : 53%;}
     80% {left : 49%;}
    100% {left : 50%;}
}
@-webkit-keyframes dialog-shake {
      0% {left : 50%;}
     10% {left : 45%;}
     20% {left : 55%;}
     40% {left : 47%;}
     60% {left : 53%;}
     80% {left : 49%;}
    100% {left : 50%;}
}

.frs .list {
    overflow-y  : auto;
}
.frs .list >div {
    padding         : .75em;
    border-bottom   : 1px solid rgba(0, 0, 0, .2);
}
.frs .list >div:last-child {
    border-bottom   : none  !important;
}
.frs .list >div:hover {
    background      : rgba(0, 0, 0, .1);
    border-bottom   : 1px solid rgba(0, 0, 0, .1);
}
.frs .list >div:active {
    background      : rgba(0, 0, 0, .2);
    border-bottom   : 1px solid rgba(0, 0, 0, 0);
}
.frs .list >div .icon {
    float           : left;
    margin-right    : .75em;
}
.frs .list >div .accessory {
    position    : absolute;
    height      : 1.5em;
    width       : 1.5em;
    top         : 50%;
    right       : .5em;
            transform   : translateY(-50%);
    -webkit-transform   : translateY(-50%);
}
.frs .list >div .major {}
.frs .list >div .minor {
    font-size   : .9em;
    color       : rgba(0, 0, 0, .5);
}

.frs .list-dark {
    color       : white;
}
.frs .list-dark >div:hover {
    background  : #ccccff;
    color       : black;
    opacity     : .9;
}
.frs .list-dark >div:active {
    background  : #ccccff;
    color       : black;
}

.frs .tab {}
.frs .tab >div:nth-child(1) {
    overflow-x  : auto;
}
.frs .tab >div:nth-child(1) >div {
    display         : inline-block;
    padding         : .5em 1em;
    vertical-align  : middle;
    border          : 1px solid rgba(0, 0, 0, 0);
    cursor          : pointer;
}
.frs .tab >div:nth-child(1) >div:hover {
    border  : 1px solid #333344;
}
.frs .tab >div:nth-child(1) >div:active {
    border      : 1px solid #333344;
    background  : #333344;
    color       : white;
    opacity     : .9;
}
.frs .tab .active {
    border      : 1px solid #333344;
    background  : #333344;
    color       : white;
}
.frs .tab >div:nth-child(2) {
    overflow-y  : auto;
    border      : 1px solid #333344;
}

.frs .hud-major {
    z-index     : 50;
    max-width   : 80%;

    word-wrap   : break-word;
    padding     : .5em 1em;
    text-align  : center;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
    background  : black;
    color       : white;
    box-shadow  : black 0px 0px .5em;
    opacity     : .7;
}
.frs .hud-minor {
    position    : absolute;
    z-index     : 50;
    top         : 70%;
    left        : 50%;
            transform   : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);

    max-width   : 80%;
    word-wrap   : break-word;
    padding     : .5em 1em;
    text-align  : center;
            border-radius   : .5em;
    -webkit-border-radius   : .5em;
    background  : black;
    color       : white;
    box-shadow  : black 0px 0px .5em;
    opacity     : .7;
}

.frs .shape {
    display : inline-block;
            transform   : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);
}
.frs .shape * {
    display     : inline-block;
    position    : absolute;
    top         : 50%;
    left        : 50%;
            transform   : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);
}

.frs .preview {
    position    : absolute;
    z-index     : 40;
    width       : 100%;
    height      : 100%;
    top         : 0;
    left        : 0;
    overflow    : auto;
    text-align  : center;
}

/* framework */
.frs .head {
    position    : absolute;
    z-index     : 5;
    width       : 100%;
    height      : 3em;
    top         : 0;
    left        : 0;
    overflow    : initial;
    padding     : 0 2em;
    background  : #333333;
}
.frs .body {
    position    : absolute;
    z-index     : 0;
    width       : 100%;
    top         : 3em;
    left        : 0;
    bottom      : 0;
}

.frs .head >div {
    display     : inline-block;
    text-align  : center;
    line-height : 3em;
    padding     : 0 2em;
    color       : white;
    cursor      : pointer;
    vertical-align  : top;
}
.frs .head >div:hover {
    background  : #ccccff;
    color       : black;
    height      : 110%;
    opacity     : .8;
}
.frs .head >div:active {
    background  : #ccccff;
    color       : black;
    opacity     : 1;
    height      : 110%;
}
.frs .head .active {
    background  : #ccccff;
    color       : black;
    box-shadow  : 0 0 1em #ccccff;
    height      : 110%;
}

.frs .block-picture {
    display : inline-block;
    border  : 1px solid rgba(0, 0, 50, .2);
    width   : 10em;
    height  : 14em;
    margin  : 3em;
}
.frs .block-picture:hover {
    border      : 1px solid rgba(0, 0, 50, 1);
    box-shadow  : 0 0 2px rgba(0, 0, 50, 1);
}
