

.sn .act-panel {
    padding : .3em;
            transition      : opacity .5s;
    -webkit-transition      : opacity .5s;
}
.sn .act-panel .ac {
    width           : 100%;
    padding         : .5em;
    background-color        : rgba(255, 255, 255, .9);
            border-radius   : 1.5em;
    -webkit-border-radius   : 1.5em;
            transition      : background-color .5s;
    -webkit-transition      : background-color .5s;
}
.sn .act-panel .ac:active {
    background-color        : rgba(200, 200, 200, .9);
}
.sn .act-panel .ac >*:nth-child(1) {
    float   : left;
    width   : 2.5em;
    height  : 2.5em;
            border-radius   : 1.25em;
    -webkit-border-radius   : 1.25em;
}
.sn .act-panel .ac >*:nth-child(2) {
    float       : left;
    line-height : 2.5em;
    margin-left : .5em;
}
.sn .act-panel .ac >*:nth-child(3) {
    text-align  : right;
    font-size   : .8em;
    color       : gray;
}
.sn .act-panel .ac >*:nth-child(4) {
    text-align  : right;
    font-size   : .8em;
    color       : gray;
}
.sn .act-panel .ac >*:nth-child(5) {
    margin-top  : .5em;
    text-align  : center;
    font-size   : 1.2em;
}
.sn .act-panel .ac .time {
    font-size   : .8em;
}

.sn .act-detail .act-panel .ac {
    background-color : rgba(0, 0, 0, 0);
}

.sn .act-basic {text-align : center;}
.sn .act-basic >* {margin : 1em 0;}
.sn .act-basic >*:nth-child(1) {font-size : 2em;}
.sn .act-basic >*:nth-child(2) input    {width : 60%;}
.sn .act-basic >*:nth-child(3) textarea {width : 60%; height : 4em;}
.sn .act-basic >*:nth-child(4) {position : relative; padding : 0 20%; height: 3em; border-radius : 1em; -webkit-border-radius : 1em;}
.sn .act-basic >*:nth-child(4) *        {border-radius : 1em; -webkit-border-radius : 1em;}
.sn .act-basic >*:nth-child(5) input    {width : 28%; margin : 0 2%;}
.sn .act-basic >*:nth-child(6) {margin-top : 2em;}

.sn .act-roles {text-align : center;}
.sn .act-roles >* {margin : 1em 0;}
.sn .act-roles >*:nth-child(1) {font-size : 2em;}
.sn .act-roles >*:nth-child(3) >* {margin : 1em 0;}
.sn .act-roles >*:nth-child(4) {margin-top : 2em;}
.sn .act-roles >*:nth-child(4) .button {margin : 0 1em;}

.sn .act-role {}
.sn .act-role >*:nth-child(1) {padding: .5em; margin-right : 0;}
.sn .act-role >*:nth-child(2) {width : 5em;}
.sn .act-role >*:nth-child(3) {width : 4em; padding : 0 .5em; margin : 0 .5em;}
.sn .act-role >*:nth-child(4) {appearance: revert; -webkit-appearance: revert; vertical-align : middle; height : 1em; margin-right : 0;}
.sn .act-role >*:nth-child(5) {margin-left : 0;}

.sn .act-mod {text-align : center;}
.sn .act-mod >* {margin : 1em 0;}
.sn .act-mod >*:nth-child(1) {font-size : 2em;}
.sn .act-mod >*:nth-child(2) {padding : 0 20%;}
.sn .act-mod >*:nth-child(2) .button {margin : 0 1em;}
.sn .act-mod >*:nth-child(3) {font-size : 2em;}
.sn .act-mod >*:nth-child(4) >div {margin : 1em 0;}
.sn .act-mod >*:nth-child(4) >div >* {margin : 0 1em;}
.sn .act-mod >*:nth-child(5) {margin-top : 2em;}
.sn .act-mod >*:nth-child(5) .button {margin : 0 1em;}

.sn .act-mod-pvl >div {margin : 1em 0; text-align: center;}
.sn .act-mod-pvl >div >input {appearance: revert; -webkit-appearance: revert; vertical-align : middle; height : 1em; margin-left : 1em; margin-right : 0;}

.sn .act-mod-vote {text-align : center;}
.sn .act-mod-vote >* {margin : .5em 0;}
.sn .act-mod-vote >*:nth-child(1) {font-size : 2em;}
.sn .act-mod-vote >*:nth-child(2) {width : 60%;}
.sn .act-mod-vote >*:nth-child(3) {width : 60%; height : 4em;}
.sn .act-mod-vote >*:nth-child(6) {font-size : 2em; margin-top : 2em;}
.sn .act-mod-vote >*:nth-child(8) {margin-top : 2em;}
.sn .act-mod-vote >*:nth-child(8) .button {margin : 0 1em;}

.sn .act-mod-vote-items {text-align : center;}
.sn .act-mod-vote-items >div {position: relative; padding : 0 20%; margin : 1em 0;}
.sn .act-mod-vote-items >div >*:nth-child(2) {width: 100%;}
.sn .act-mod-vote-items >div >*:nth-child(3) {height: 4em;}

.sn .act-create {text-align : center;}
.sn .act-create >*:nth-child(1) {font-size : 2em;}

.sn .act-create-done {text-align : center;}
.sn .act-create-done >*:nth-child(1) {font-size : 2em;}


