* {
            box-sizing  : border-box;
    -webkit-box-sizing  : border-box;
}

.sn {}
.sn .head {position : absolute; width : 100%; height : 0;    top : 0; left : 0;}
.sn .body {position : absolute; width : 100%; height : 100%; top : 0; bottom : 0; left : 0; overflow : auto;}
.sn .foot {position : absolute; width : 100%; height : 0;    bottom : 0; left : 0;}
