
.sn .first-send {padding : 0 1em;}
.sn .first-send .h2 {text-align : center;}
.sn .first-send img {
    width   : 1em;
    height  : 1em;
    vertical-align  : middle;
    margin  : 0 .5em;
}

.sn .dialog-msg-new {
    height      : 12em;
    top         : 80%;
    overflow    : hidden;
}
.sn .dialog-msg-new .content >div {padding : .5em 1em;}
.sn .dialog-msg-new .content >div >*:nth-child(1) {margin : 0;}
.sn .dialog-msg-new .content >div >*:nth-child(1) img {width : 1em; vertical-align: middle;}
.sn .dialog-msg-new .content >div >*:nth-child(1) div {display : inline; margin-left : .5em;}
.sn .dialog-msg-new .content >div >*:nth-child(2) {display : inline-block; width : 70%;}
.sn .dialog-msg-new .content >div >*:nth-child(2) textarea {width : 100%; height : 6em;}
.sn .dialog-msg-new .content >div >*:nth-child(3) {display : inline-block; width : 30%;}
.sn .dialog-msg-new .content >div >*:nth-child(3) .choose-image {width : 100%; height : 6em; border-radius : 1em; -webkit-border-radius : 1em;}

.sn .msg-panel {
    width               : 100%;
    padding             : .3em;
    padding-bottom      : 0;
            transition  : opacity .5s;
    -webkit-transition  : opacity .5s;
}
.sn .msg-panel table {
    width : 100%;
}
.sn .msg-panel table td:nth-child(2) {
    width           : 3em;
    padding-left    : .3em;
}
.sn .msg-panel .mc {
    background-color        : rgba(255, 255, 255, .9);
            border-radius   : 1.5em;
    -webkit-border-radius   : 1.5em;
            transition      : background-color .5s;
    -webkit-transition      : background-color .5s;
}
.sn .msg-panel .mc:active {
    background-color        : rgba(200, 200, 200, .9);
}
.sn .msg-panel .mc .mh {
    height          : 3em;
    padding         : .5em 1em;
    padding-bottom  : 0;
}
.sn .msg-panel .mc .mh .cover {
    float   : left;
    width   : 2.5em;
    height  : 2.5em;
}
.sn .msg-panel .mc .mh >*:nth-child(2) {
    float           : left;
    line-height     : 2.5em;
    padding-left    : .5em;
}
.sn .msg-panel .mc .mb {
    padding         : 0 1em;
    line-height     : 1.3em;
}
.sn .msg-panel .mc .mb >div:nth-child(1) {
    margin-top  : .8em;
    line-height : 1.5em;
}
.sn .msg-panel .mc .mb >img:nth-child(2) {
    max-width   : 100%;
    max-height  : 10em;
    margin-top  : .5em;
}
.sn .msg-panel .mc .mb .ass {
    height      : 1em;
    margin-top  : .5em;
}
.sn .msg-panel .mc .mb .ass * {
    float   : left;
}
.sn .msg-panel .mc .mb .ass img {
    width       : .8em;
}
.sn .msg-panel .mc .mb .ass div {
    font-size       : .8em;
    line-height     : 1.1em;
    margin-left     : .3em;
    margin-right    : 1em;
    color           : gray;
}
.sn .msg-panel .mc .mf {
    padding-bottom  : .5em;
    text-align      : center;
}
.sn .msg-panel .mc .mf .button {
    padding     : .4em .8em;
}
.sn .msg-panel .ma {
    text-align  : center;
}
.sn .msg-panel .ma >div:nth-child(1) {
    height              : 2.5em;
    border-radius       : 1.5em 1.5em 0 0;
    background          : rgba(255, 255, 255, .9) url('../../res/msg-up.png') no-repeat center;
    background-size     : 1.2em;
            transition  : background .2s linear;
    -webkit-transition  : background .2s linear;
}
.sn .msg-panel .ma >div:nth-child(1):active {
    background          : rgba(160, 160, 160, .9) url('../../res/msg-up.png') no-repeat center;
    background-size     : 1.2em;
}
.sn .msg-panel .ma >div:nth-child(2) {
    line-height : 1.5em;
    padding     : .3em;
    margin      : 1px 0;
    background-color    : rgba(255, 255, 255, .9);
    color       : gray;
}
.sn .msg-panel .ma >div:nth-child(3) {
    height              : 2.5em;
    border-radius       : 0 0 1.5em 1.5em;
    background          : rgba(255, 255, 255, .9) url('../../res/msg-down.png') no-repeat center;
    background-size     : 1.2em;
            transition  : background .2s linear;
    -webkit-transition  : background .2s linear;
}
.sn .msg-panel .ma >div:nth-child(3):active {
    background          : rgba(160, 160, 160, .9) url('../../res/msg-down.png') no-repeat center;
    background-size     : 1.2em;
}

.sn .msg-detail .msg-panel {
    padding         : 0;
    padding-right   : .5em;
    font-size       : 1.1em;
}
.sn .msg-detail .msg-panel .mc {
    background-color    : rgba(0,0,0,0);
}
.sn .msg-detail .msg-panel .mc .mb >img {
    max-height          : none;
}
.sn .msg-detail .msg-panel table tr td {
    vertical-align: top;
}
.sn .msg-detail .msg-panel .ma >div {
    background-color    : rgba(0,0,0,0);
}
.sn .msg-detail .focus {
    padding         : .5em 1em;
    padding-bottom  : 0;
}
.sn .msg-detail .focus >div:nth-child(2n+1) {
    color       : gray;
    font-size   : .9em;
}
.sn .msg-detail .focus >div:nth-child(2), .sn .msg-detail .focus >div:nth-child(4) {
    padding-bottom : .8em;
}
.sn .msg-detail .focus .cover {
    width           : 2.2em;
    height          : 2.2em;
    margin-top      : .2em;
    margin-right    : .2em;
}
.sn .msg-detail .reply >*:nth-child(1) {
    float   : left;
    width   : 2.4em;
    height  : 2.4em;
            border-radius   : 1.2em;
    -webkit-border-radius   : 1.2em;
}
.sn .msg-detail .reply >*:nth-child(2) {
    float       : left;
    line-height : 2.5em;
    margin-left : .5em;
}
.sn .msg-detail .reply >*:nth-child(3) {
    float       : right;
    font-size   : .9em;
    margin-top  : .7em;
    color       : gray;
}
.sn .msg-detail .reply >*:nth-child(4) {
    margin-top  : 2.7em;
    line-height : 1.5em;
}
.sn .msg-detail .reply >*:nth-child(5) {
    max-width   : 100%;
    max-height  : 10em;
    margin-top  : .5em;
}
.sn .msg-reply {padding : 1em;}
.sn .msg-reply textarea {
    float   : left;
    width   : 70%;
    height  : 7em;
}
.sn .msg-reply .choose-image {
    float   : right;
    width   : 30%;
    height  : 7em;
            border-radius   : 1em;
    -webkit-border-radius   : 1em;
}

