html, body {
    width   : 100%;
    height  : 100%;
}
body, .markdown-body {
    font-family : "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}
ul {
    padding : 0;
}
ol {
    padding-left : 3em !important;
}
a {
    text-decoration : none;
}
a:hover {
    text-decoration : none;
}

.blur { 
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(1em); /* Chrome, Opera */
       -moz-filter: blur(1em);
        -ms-filter: blur(1em);    
            filter: blur(1em);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}









.article-panel .panel:hover {
    background-color    : #eee;
}
.article-panel .panel .panel-body h4 {
    margin  : 0;
}
.article-panel .panel .panel-body h4 small {
    float       : right;
    line-height : 1.5em;
}
.article-panel .panel .panel-body h4 span {
    position    : relative;
    top         : -.2em;
    margin-left : 2em;
    font-size   : 60%;
}


