@font-face {
	font-family: jui;
	src: url(https://at.alicdn.com/t/font_1435635364_61013.eot?#iefix) format("embedded-opentype"), url(https://at.alicdn.com/t/font_1435635364_61013.woff) format("woff"), url(https://at.alicdn.com/t/font_1435635364_61013.ttf) format("truetype"), url(https://at.alicdn.com/t/font_1435635364_61013.svg#iconfont) format("svg");
}
.iconfont {
	font-family: jui,rei; font-style: normal; font-weight: 400; cursor: default; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px;
}
html {
	font-family: sans-serif; -ms-text-size-adjust: 100%; background-color: rgb(255, 255, 255); -webkit-text-size-adjust: 100%;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	vertical-align: baseline; display: inline-block;
}
canvas {
	vertical-align: baseline; display: inline-block;
}
progress {
	vertical-align: baseline; display: inline-block;
}
video {
	vertical-align: baseline; display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background: 0px 0px;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
b {
	font-weight: 700;
}
strong {
	font-weight: 700;
}
h1 {
	margin: 0.67em 0px;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
small {
	font-size: 80%;
}
img {
	border: 0px currentColor; border-image: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	height: 0px; box-sizing: content-box; -moz-box-sizing: content-box;
}
pre {
	overflow: auto;
}
code {
	font-family: monospace,monospace; font-size: 1em;
}
kbd {
	font-family: monospace,monospace; font-size: 1em;
}
pre {
	font-family: monospace,monospace; font-size: 1em;
}
samp {
	font-family: monospace,monospace; font-size: 1em;
}
button {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
input {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
optgroup {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
select {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
textarea {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type=button] {
	cursor: pointer; -webkit-appearance: button;
}
input[type=reset] {
	cursor: pointer; -webkit-appearance: button;
}
input[type=submit] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input {
	line-height: normal;
}
input[type=checkbox] {
	padding: 0px; box-sizing: border-box;
}
input[type=radio] {
	padding: 0px; box-sizing: border-box;
}
input[type=search] {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box;
}
fieldset {
	margin: 0px 2px; border: 1px solid silver; border-image: none;
}
legend {
	padding: 0px; border: 0px currentColor; border-image: none;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: 700;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
iframe {
	display: block;
}
abbr {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
acronym {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
del {
	text-decoration: line-through;
}
address {
	font-style: normal; font-weight: 500;
}
caption {
	font-style: normal; font-weight: 500;
}
cite {
	font-style: normal; font-weight: 500;
}
code {
	font-style: normal; font-weight: 500;
}
dfn {
	font-style: normal; font-weight: 500;
}
em {
	font-style: normal; font-weight: 500;
}
th {
	font-style: normal; font-weight: 500;
}
var {
	font-style: normal; font-weight: 500;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
q::after {
	content: "";
}
q::before {
	content: "";
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
a {
	text-decoration: none;
}
ins {
	text-decoration: none;
}
legend {
	display: none;
}
fieldset {
	padding: 10px 0px 0px;
}
label {
	outline: 0px; border: 0px currentColor; border-image: none;
}
label:active {
	outline: 0px; border: 0px currentColor; border-image: none;
}
label:focus {
	outline: 0px; border: 0px currentColor; border-image: none;
}
label:hover {
	outline: 0px; border: 0px currentColor; border-image: none;
}
a {
	color: rgb(0, 170, 238); cursor: pointer;
}
html body a.ft-weaken {
	color: rgb(156, 156, 156);
}
a:hover {
	color: rgb(0, 170, 238); text-decoration: underline;
}
html body a.ft-weaken:hover {
	color: rgb(156, 156, 156);
}
html body {
	color: rgb(26, 26, 26); font-family: tahoma,arial,"Hiragino Sans GB","Microsoft Yahei","ËÎÌו"; font-size: 14px; -webkit-font-smoothing: antialiased;
}
html body .ft-title {
	font-size: 18px;
}
html body .ft-black {
	color: rgb(26, 26, 26) !important;
}
html body .ft-default {
	color: rgb(26, 26, 26) !important;
}
html body .ft-explain {
	color: grey !important;
}
html body .ft-gray {
	color: grey !important;
}
html body .ft-lightgray {
	color: rgb(166, 166, 166) !important;
}
html body .ft-weaken {
	color: rgb(166, 166, 166) !important;
}
html body .ft-blue {
	color: rgb(0, 170, 238) !important;
}
html body .ft-link {
	color: rgb(0, 170, 238) !important;
}
html body .ft-darkgray {
	color: rgb(51, 51, 51) !important;
}
html body .ft-white {
	color: rgb(255, 255, 255) !important;
}
html body .ft-orange {
	color: rgb(255, 130, 8) !important;
}
html body .ft-green {
	color: rgb(0, 169, 128) !important;
}
html body .ft-error {
	color: rgb(244, 51, 60) !important;
}
html body .ft-red {
	color: rgb(244, 51, 60) !important;
}
h6 {
	font-size: 12px;
}
html body .ft-12 {
	font-size: 12px !important;
}
html body .ft-h6 {
	font-size: 12px !important;
}
h5 {
	font-size: 14px;
}
html body .ft-14 {
	font-size: 14px !important;
}
html body .ft-h5 {
	font-size: 14px !important;
}
h4 {
	font-size: 18px;
}
html body .ft-16 {
	font-size: 16px !important;
}
html body .ft-18 {
	font-size: 18px !important;
}
html body .ft-h4 {
	font-size: 18px !important;
}
h3 {
	font-size: 24px;
}
html body .ft-24 {
	font-size: 24px !important;
}
html body .ft-h3 {
	font-size: 24px !important;
}
h2 {
	font-size: 28px;
}
html body .ft-28 {
	font-size: 28px !important;
}
html body .ft-h2 {
	font-size: 28px !important;
}
h1 {
	font-size: 32px;
}
html body .ft-32 {
	font-size: 32px !important;
}
html body .ft-h1 {
	font-size: 32px !important;
}
html body .ft-left {
	text-align: left;
}
html body .ft-center {
	text-align: center;
}
html body .ft-right {
	text-align: right;
}
html body .ft-top {
	vertical-align: top;
}
html body .ft-middle {
	vertical-align: middle;
}
html body .ft-bottom {
	vertical-align: bottom;
}
html body .ft-baseline {
	vertical-align: baseline;
}
html body .ft-bold {
	font-weight: 700;
}
html body .ft-normal {
	font-weight: 400;
}
html body .ft-bar {
	padding: 0px 7px 0px 6px; color: rgb(204, 204, 204);
}
html body .ft-break {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
html body .ft-nowrap {
	white-space: nowrap; -ms-word-break: keep-all;
}
html body .ft-ellipsis {
	width: auto; overflow: hidden; white-space: nowrap; -ms-word-break: normal; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
html body .fn-block {
	display: block;
}
html body .fn-inline {
	font-size: 0px; display: inline-block; -ms-zoom: 1;
}
html body .fn-inline > * {
	font-size: 14px;
}
html body .fn-hide {
	display: none;
}
html body .fn-clear::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
html body .fn-clear {
	-ms-zoom: 1;
}
html body .fn-left {
	display: inline-block;
}
html body .fn-right {
	display: inline-block;
}
html body .fn-left {
	float: left;
}
html body .fn-right {
	float: right;
}
html body .fn-m0 {
	margin: 0px;
}
html body .fn-m5 {
	margin: 5px;
}
html body .fn-m10 {
	margin: 10px;
}
html body .fn-m15 {
	margin: 15px;
}
html body .fn-m20 {
	margin: 20px;
}
html body .fn-m25 {
	margin: 25px;
}
html body .fn-m30 {
	margin: 30px;
}
html body .fn-mt0 {
	margin-top: 0px;
}
html body .fn-mr0 {
	margin-right: 0px;
}
html body .fn-mb0 {
	margin-bottom: 0px;
}
html body .fn-ml0 {
	margin-left: 0px;
}
html body .fn-mt5 {
	margin-top: 5px;
}
html body .fn-mr5 {
	margin-right: 5px;
}
html body .fn-mb5 {
	margin-bottom: 5px;
}
html body .fn-ml5 {
	margin-left: 5px;
}
html body .fn-mt10 {
	margin-top: 10px;
}
html body .fn-mr10 {
	margin-right: 10px;
}
html body .fn-mb10 {
	margin-bottom: 10px;
}
html body .fn-ml10 {
	margin-left: 10px;
}
html body .fn-mt15 {
	margin-top: 15px;
}
html body .fn-mr15 {
	margin-right: 15px;
}
html body .fn-mb15 {
	margin-bottom: 15px;
}
html body .fn-ml15 {
	margin-left: 15px;
}
html body .fn-mt20 {
	margin-top: 20px;
}
html body .fn-mr20 {
	margin-right: 20px;
}
html body .fn-mb20 {
	margin-bottom: 20px;
}
html body .fn-ml20 {
	margin-left: 20px;
}
html body .fn-mt25 {
	margin-top: 25px;
}
html body .fn-mr25 {
	margin-right: 25px;
}
html body .fn-mb25 {
	margin-bottom: 25px;
}
html body .fn-ml25 {
	margin-left: 25px;
}
html body .fn-mt30 {
	margin-top: 30px;
}
html body .fn-mr30 {
	margin-right: 30px;
}
html body .fn-mb30 {
	margin-bottom: 30px;
}
html body .fn-ml30 {
	margin-left: 30px;
}
html body .fn-p0 {
	padding: 0px;
}
html body .fn-p5 {
	padding: 5px;
}
html body .fn-p10 {
	padding: 10px;
}
html body .fn-p15 {
	padding: 15px;
}
html body .fn-p20 {
	padding: 20px;
}
html body .fn-p25 {
	padding: 25px;
}
html body .fn-p30 {
	padding: 30px;
}
html body .fn-pt0 {
	padding-top: 0px;
}
html body .fn-pr0 {
	padding-right: 0px;
}
html body .fn-pb0 {
	padding-bottom: 0px;
}
html body .fn-pl0 {
	padding-left: 0px;
}
html body .fn-pt5 {
	padding-top: 5px;
}
html body .fn-pr5 {
	padding-right: 5px;
}
html body .fn-pb5 {
	padding-bottom: 5px;
}
html body .fn-pl5 {
	padding-left: 5px;
}
html body .fn-pt10 {
	padding-top: 10px;
}
html body .fn-pr10 {
	padding-right: 10px;
}
html body .fn-pb10 {
	padding-bottom: 10px;
}
html body .fn-pl10 {
	padding-left: 10px;
}
html body .fn-pt15 {
	padding-top: 15px;
}
html body .fn-pr15 {
	padding-right: 15px;
}
html body .fn-pb15 {
	padding-bottom: 15px;
}
html body .fn-pl15 {
	padding-left: 15px;
}
html body .fn-pt20 {
	padding-top: 20px;
}
html body .fn-pr20 {
	padding-right: 20px;
}
html body .fn-pb20 {
	padding-bottom: 20px;
}
html body .fn-pl20 {
	padding-left: 20px;
}
html body .fn-pt25 {
	padding-top: 25px;
}
html body .fn-pr25 {
	padding-right: 25px;
}
html body .fn-pb25 {
	padding-bottom: 25px;
}
html body .fn-pl25 {
	padding-left: 25px;
}
html body .fn-pt30 {
	padding-top: 30px;
}
html body .fn-pr30 {
	padding-right: 30px;
}
html body .fn-pb30 {
	padding-bottom: 30px;
}
html body .fn-pl30 {
	padding-left: 30px;
}
.ft-loading {
	background: url("https://t.alipayobjects.com/tfscom/T1PAxfXjddXXXXXXXX.gif") no-repeat -1px -2px; width: 32px; height: 32px; display: inline-block;
}
.tri {
	border-width: 6px; border-color: grey; width: 0px; height: 0px; line-height: 0; font-size: 0px; display: inline-block; content: "";
}
.tri-after::after {
	border-width: 6px; border-color: grey; width: 0px; height: 0px; line-height: 0; font-size: 0px; display: inline-block; content: "";
}
.tri-after:hover::after {
	border-color: rgb(26, 26, 26);
}
.tri:hover {
	border-color: rgb(26, 26, 26);
}
.tri-top-after::after {
	border-style: dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-left-color: transparent;
}
.tri-top-after:hover::after {
	border-style: dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-left-color: transparent;
}
.tri-top:hover {
	border-style: dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-left-color: transparent;
}
.tri.tri-top {
	border-style: dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-left-color: transparent;
}
.tri-left-after::after {
	border-style: dashed solid dashed dashed; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri-left-after:hover::after {
	border-style: dashed solid dashed dashed; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri-left:hover {
	border-style: dashed solid dashed dashed; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri.tri-left {
	border-style: dashed solid dashed dashed; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri-right-after::after {
	border-style: dashed dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent;
}
.tri-right-after:hover::after {
	border-style: dashed dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent;
}
.tri-right:hover {
	border-style: dashed dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent;
}
.tri.tri-right {
	border-style: dashed dashed dashed solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent;
}
.tri-bottom-after::after {
	border-style: solid dashed dashed; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri-bottom-after:hover::after {
	border-style: solid dashed dashed; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri-bottom:hover {
	border-style: solid dashed dashed; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.tri.tri-bottom {
	border-style: solid dashed dashed; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;
}
.jui-tip {
	padding: 0px 1em; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 14px; display: inline-block; position: relative; box-sizing: border-box; background-color: rgb(0, 170, 238); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
}
.jui-tip.jui-tip-error {
	background-color: rgb(244, 51, 60);
}
.jui-tip.jui-tip-warn {
	background-color: rgb(255, 198, 0);
}
.jui-tip.jui-tip-global {
	padding: 0px 20px; height: 44px; text-align: left; color: rgb(26, 26, 26); line-height: 44px; display: block; background-color: rgb(255, 249, 228);
}
.jui-tip [class^=jui-tip-arrow-] {
	line-height: 0; font-size: 0px;
}
.jui-tip [class^=jui-tip-arrow-]::after {
	color: rgb(0, 170, 238); line-height: 16px; font-family: SimSun,Hiragino Sans GB; font-size: 16px; font-style: normal; position: absolute; z-index: 10; content: "\25c6";
}
.jui-tip.jui-tip-error [class^=jui-tip-arrow-]::after {
	color: rgb(244, 51, 60);
}
.jui-tip.jui-tip-warn [class^=jui-tip-arrow-]::after {
	color: rgb(255, 198, 0);
}
.jui-tip .jui-tip-arrow-top::after {
	left: 32px; top: -8px;
}
.jui-tip .jui-tip-arrow-right::after {
	top: 8px; right: -8px;
}
.jui-tip .jui-tip-arrow-bottom::after {
	left: 32px; bottom: -8px;
}
.jui-tip .jui-tip-arrow-left::after {
	left: -8px; top: 8px;
}
.jui-tip-confirmation {
	padding: 20px; border: 1px solid rgb(224, 224, 224); border-image: none; width: 200px; height: auto; text-align: center; color: rgb(0, 0, 0); line-height: 16px; font-size: 12px; min-height: 20px; box-shadow: 0px 0px 4px #e0e0e0; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 0 4px #e0e0e0; -moz-box-shadow: 0 0 4px #e0e0e0;
}
.jui-tip-gray {
	padding: 20px; border: 1px solid rgb(224, 224, 224); border-image: none; width: 200px; height: auto; text-align: center; color: rgb(0, 0, 0); line-height: 16px; font-size: 12px; min-height: 20px; box-shadow: 0px 0px 4px #e0e0e0; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 0 4px #e0e0e0; -moz-box-shadow: 0 0 4px #e0e0e0;
}
.jui-tip-white {
	padding: 20px; border: 1px solid rgb(224, 224, 224); border-image: none; width: 200px; height: auto; text-align: center; color: rgb(0, 0, 0); line-height: 16px; font-size: 12px; min-height: 20px; box-shadow: 0px 0px 4px #e0e0e0; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 0 4px #e0e0e0; -moz-box-shadow: 0 0 4px #e0e0e0;
}
.jui-tip-confirmation [class^=jui-tip-arrow-]::after {
	color: rgb(255, 255, 255);
}
.jui-tip-white [class^=jui-tip-arrow-]::after {
	color: rgb(255, 255, 255);
}
.jui-tip-confirmation [class^=jui-tip-arrow-]::before {
	color: rgb(224, 224, 224); line-height: 16px; font-family: SimSun,Hiragino Sans GB; font-size: 16px; font-style: normal; position: absolute; z-index: -1; content: "\25c6";
}
.jui-tip-white [class^=jui-tip-arrow-]::before {
	color: rgb(224, 224, 224); line-height: 16px; font-family: SimSun,Hiragino Sans GB; font-size: 16px; font-style: normal; position: absolute; z-index: -1; content: "\25c6";
}
.jui-tip-arrow-top::before {
	left: 32px; top: -9px;
}
.jui-tip-arrow-right::before {
	top: 8px; right: -9px;
}
.jui-tip-arrow-bottom::before {
	left: 32px; bottom: -9px;
}
.jui-tip-arrow-left::before {
	left: -9px; top: 8px;
}
.jui-tip-gray {
	border: currentColor; border-image: none; color: rgb(255, 255, 255); opacity: 0.5; background-color: rgb(0, 0, 0);
}
.jui-tip-gray [class^=jui-tip-arrow-]::after {
	color: rgb(0, 0, 0);
}
.jui-tip-confirmation .jui-btn-groups {
	text-align: center;
}
.jui-tip-confirmation .jui-btn {
	margin: 20px 5px 0px;
}
.jui-message {
	margin: 0px; padding: 0px 0px 0px 27px; text-align: left; color: rgb(26, 26, 26); line-height: 32px; font-size: 14px; display: inline-block; position: relative; -ms-zoom: 1; min-height: 32px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
}
.jui-message::before {
	left: 2px; top: 9px; width: 14px; height: 14px; position: absolute; content: ""; background-color: rgb(255, 255, 255);
}
.jui-message.jui-message-cue::after {
	left: 0px; top: 7px; color: rgb(0, 170, 238); line-height: 18px; font-family: jui; font-size: 18px; font-style: normal; font-weight: 400; position: absolute; cursor: default; content: "\e603"; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px;
}
.jui-message::after {
	left: 0px; top: 7px; color: rgb(0, 170, 238); line-height: 18px; font-family: jui; font-size: 18px; font-style: normal; font-weight: 400; position: absolute; cursor: default; content: "\e603"; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px;
}
.jui-message.jui-message-success::after {
	color: rgb(0, 170, 238); content: "\e608";
}
.jui-message.jui-message-success-zhi::after {
	color: rgb(0, 170, 238); content: "\e600";
}
.jui-message.jui-message-warn::after {
	color: rgb(255, 198, 0); content: "\e602";
}
.jui-message.jui-message-error::after {
	color: rgb(244, 51, 60); content: "\e601";
}
.jui-message.jui-message-doubt::after {
	color: rgb(0, 170, 238); content: "\e604";
}
.jui-message.jui-message-wait::after {
	color: rgb(44, 215, 170); content: "\e605";
}
.jui-message.jui-message-loading {
	background: url("https://t.alipayobjects.com/tfscom/T1PAxfXjddXXXXXXXX.gif") no-repeat -5px -2px; padding-left: 30px; margin-left: -3px;
}
.jui-message.jui-message-loading::before {
	display: none;
}
.jui-message.jui-message-loading::after {
	content: "";
}
.jui-message-bar {
	line-height: 1em; padding-left: 11px; font-size: 14px; display: inline-block; position: relative;
}
.jui-message-bar::after {
	left: 0px; top: 0px; width: 6px; height: 14px; position: absolute; content: "\200B"; background-color: rgb(0, 170, 238);
}
.jui-message-bar .jui-message-bar-explain {
	color: grey; margin-left: 10px;
}
.jui-notice .jui-notice-header {
	padding: 26px 30px 20px 86px; color: grey; line-height: 26px; font-size: 14px; border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.jui-notice .jui-notice-header::before {
	left: 44px; top: 30px; width: 22px; height: 21px; position: absolute; content: ""; background-color: rgb(255, 255, 255);
}
.jui-notice .jui-notice-header::after {
	left: 38px; top: 23px; line-height: 34px; font-family: jui; font-size: 34px; font-style: normal; font-weight: 400; position: absolute; cursor: default; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px;
}
.jui-notice .jui-notice-header .jui-notice-title {
	color: rgb(60, 60, 60); line-height: 30px; font-size: 18px; font-weight: 700;
}
.jui-notice .jui-notice-header .jui-notice-close {
	top: 8px; right: 15px; color: rgb(166, 166, 166); font-size: 32px; text-decoration: none; display: block; position: absolute; z-index: 10; cursor: pointer;
}
.jui-notice .jui-notice-header .jui-notice-blank {
	min-height: 26px;
}
.jui-notice .jui-notice-body {
	padding: 17px 60px 15px 86px; color: grey; line-height: 20px; position: relative;
}
.jui-notice .jui-notice-body::after {
	margin: 0px 30px; left: 0px; right: 0px; bottom: 0px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed; position: absolute; content: "";
}
.jui-notice .jui-notice-footer {
	margin: 0px 30px; padding: 17px 30px 15px 56px; line-height: 20px; font-size: 14px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dashed; background-color: rgb(255, 255, 255);
}
.jui-notice .jui-notice-footer a {
	margin-left: 12px;
}
.jui-notice .jui-notice-footer a:first-child {
	margin-left: 0px;
}
.jui-notice.jui-notice-box {
	border: 1px solid rgb(225, 225, 202); border-image: none;
}
.jui-notice.jui-notice-box .jui-notice-header {
	margin: -1px -1px 0px; border: 1px solid rgb(225, 225, 202); border-image: none;
}
.jui-notice.jui-notice-box .jui-notice-footer {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.jui-notice.jui-notice-noborder {
	border: 0px currentColor; border-image: none;
}
.jui-notice .jui-notice-header {
	border-color: rgb(203, 215, 227); background-color: rgb(229, 245, 255);
}
.jui-notice.jui-notice-cue .jui-notice-header {
	border-color: rgb(203, 215, 227); background-color: rgb(229, 245, 255);
}
.jui-notice .jui-notice-header::after {
	color: rgb(0, 170, 238); content: "\E603";
}
.jui-notice.jui-notice-cue .jui-notice-header::after {
	color: rgb(0, 170, 238); content: "\E603";
}
.jui-notice.jui-notice-success .jui-notice-header {
	border-color: rgb(203, 215, 227); background-color: rgb(229, 245, 255);
}
.jui-notice.jui-notice-success .jui-notice-header::after {
	color: rgb(0, 170, 238); content: "\E608";
}
.jui-notice.jui-notice-success-zhi .jui-notice-header {
	border-color: rgb(203, 215, 227); background-color: rgb(229, 245, 255);
}
.jui-notice.jui-notice-success-zhi .jui-notice-header::after {
	color: rgb(0, 170, 238); content: "\E600";
}
.jui-notice.jui-notice-error .jui-notice-header {
	border-color: rgb(246, 200, 181); background-color: rgb(252, 238, 232);
}
.jui-notice.jui-notice-error .jui-notice-header::after {
	color: rgb(244, 51, 60); content: "\E601";
}
.jui-notice.jui-notice-wait .jui-notice-header {
	border-color: rgb(206, 233, 226); background-color: rgb(240, 250, 249);
}
.jui-notice.jui-notice-wait .jui-notice-header::after {
	color: rgb(44, 215, 170); content: "\E605";
}
.jui-notice.jui-notice-help .jui-notice-header {
	border-color: rgb(203, 215, 227); background-color: rgb(229, 245, 255);
}
.jui-notice.jui-notice-help .jui-notice-header::after {
	color: rgb(0, 170, 238); content: "\E604";
}
.jui-notice.jui-notice-warn .jui-notice-header {
	border-color: rgb(245, 219, 100); background-color: rgb(253, 248, 231);
}
.jui-notice.jui-notice-warn .jui-notice-header::after {
	color: rgb(255, 198, 0); content: "\E602";
}
.jui-notice.jui-notice-nobg .jui-notice-header {
	border: 0px currentColor; border-image: none; background-color: transparent;
}
.jui-notice.jui-notice-nobg.jui-notice-error .jui-notice-title {
	color: rgb(244, 51, 60);
}
.jui-notice.jui-notice-process {
	border: 1px solid rgb(231, 231, 235); border-image: none;
}
.jui-notice.jui-notice-process-h {
	border: 1px solid rgb(231, 231, 235); border-image: none;
}
.jui-notice.jui-notice-process .jui-notice-header {
	border-color: rgb(231, 231, 235); padding: 60px 60px 35px; background-color: rgb(245, 246, 247);
}
.jui-notice.jui-notice-process-h .jui-notice-header {
	border-color: rgb(231, 231, 235); padding: 60px 60px 35px; background-color: rgb(245, 246, 247);
}
.jui-notice.jui-notice-process .jui-notice-header::after {
	content: none !important;
}
.jui-notice.jui-notice-process .jui-notice-header::before {
	content: none !important;
}
.jui-notice.jui-notice-process-h .jui-notice-header::after {
	content: none !important;
}
.jui-notice.jui-notice-process-h .jui-notice-header::before {
	content: none !important;
}
.jui-notice.jui-notice-process .jui-notice-footer {
	padding-left: 77px;
}
.jui-notice.jui-notice-process-h .jui-notice-footer {
	padding-left: 77px;
}
.jui-notice.jui-notice-process-h .jui-notice-header {
	padding-top: 30px;
}
.jui-bub {
	padding: 2px 3px 3px; border-radius: 2px; text-align: center; color: rgb(255, 255, 255); line-height: 1em; font-size: 12px; margin-left: 0.6em; vertical-align: text-top; display: inline-block; white-space: nowrap; background-color: rgb(204, 204, 204); -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.jui-bub:hover {
	color: rgb(255, 255, 255);
}
.jui-bub.jui-bub-error {
	background-color: rgb(244, 51, 60);
}
.jui-bub.jui-bub-red {
	background-color: rgb(244, 51, 60);
}
.jui-bub.jui-bub-warn {
	background-color: rgb(244, 51, 60);
}
.jui-bub.jui-bub-orange {
	background-color: rgb(255, 130, 8);
}
.jui-bub.jui-bub-stress {
	background-color: rgb(255, 130, 8);
}
.jui-bub.jui-bub-blue {
	background-color: rgb(0, 170, 238);
}
.jui-bub.jui-bub-important {
	background-color: rgb(0, 170, 238);
}
.jui-bub.jui-bub-success {
	background-color: rgb(0, 170, 238);
}
.jui-bub.jui-bub-green {
	background-color: rgb(44, 215, 170);
}
.jui-bub.jui-bub-wait {
	background-color: rgb(44, 215, 170);
}
:empty.jui-bub {
	display: none;
}
.jui-bub.jui-bub-num {
	padding: 2px 5px 3px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
.jui-btn {
	margin: 0px; padding: 0px 24px; outline: 0px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; height: 32px; text-align: center; color: rgb(26, 26, 26); line-height: 30px; font-size: 14px; font-weight: 400; vertical-align: top; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; -ms-user-select: none; background-image: none; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; user-select: none; -webkit-user-select: none; -moz-user-select: none;
}
.jui-btn.jui-btn-sm {
	padding: 0px 20px; border-radius: 2px; height: 24px; line-height: 22px; font-size: 12px;
}
.jui-btn.jui-btn-lg {
	padding: 0px 48px; border-radius: 4px; height: 48px; line-height: 48px; font-size: 18px;
}
.jui-form-item .jui-btn {
	vertical-align: top;
}
.jui-btn.jui-btn-active {
	border-color: rgb(216, 216, 216); color: rgb(26, 26, 26); text-decoration: none; background-color: rgb(248, 248, 248);
}
.jui-btn:active {
	border-color: rgb(216, 216, 216); color: rgb(26, 26, 26); text-decoration: none; background-color: rgb(248, 248, 248);
}
.jui-btn:hover {
	border-color: rgb(216, 216, 216); color: rgb(26, 26, 26); text-decoration: none; background-color: rgb(248, 248, 248);
}
.jui-btn.jui-btn-blue {
	border-color: rgb(0, 170, 238); color: rgb(255, 255, 255); background-color: rgb(0, 170, 238);
}
.jui-btn.jui-btn-blue.jui-btn-active {
	border-color: rgb(0, 145, 203); color: rgb(255, 255, 255); background-color: rgb(0, 145, 203);
}
.jui-btn.jui-btn-blue:active {
	border-color: rgb(0, 145, 203); color: rgb(255, 255, 255); background-color: rgb(0, 145, 203);
}
.jui-btn.jui-btn-blue:hover {
	border-color: rgb(0, 145, 203); color: rgb(255, 255, 255); background-color: rgb(0, 145, 203);
}
.jui-btn.jui-btn-table {
	border-color: rgb(0, 170, 238); color: rgb(0, 170, 238); background-color: rgb(255, 255, 255);
}
.jui-btn.jui-btn-table.jui-btn-active {
	border-color: rgb(0, 170, 238); color: rgb(0, 170, 238); background-color: rgb(255, 255, 255);
}
.jui-btn.jui-btn-table:active {
	border-color: rgb(0, 170, 238); color: rgb(0, 170, 238); background-color: rgb(255, 255, 255);
}
.jui-btn.jui-btn-table:hover {
	border-color: rgb(0, 170, 238); color: rgb(0, 170, 238); background-color: rgb(255, 255, 255);
}
.jui-btn.jui-btn-virtual {
	border-style: dashed; border-color: rgb(204, 204, 204); color: rgb(0, 170, 238); background-color: transparent;
}
.jui-btn.jui-btn-virtual.jui-btn-active {
	border: 1px dashed rgb(0, 170, 238); border-image: none; color: rgb(0, 170, 238); background-color: transparent;
}
.jui-btn.jui-btn-virtual:active {
	border: 1px dashed rgb(0, 170, 238); border-image: none; color: rgb(0, 170, 238); background-color: transparent;
}
.jui-btn.jui-btn-virtual:hover {
	border: 1px dashed rgb(0, 170, 238); border-image: none; color: rgb(0, 170, 238); background-color: transparent;
}
.jui-btn .iconfont {
	padding-right: 6px;
}
.jui-btn.jui-btn-sm .iconfont {
	padding-right: 4px; font-size: 12px;
}
[disabled].jui-btn {
	border: 1px solid rgb(235, 235, 240); border-image: none; color: rgb(219, 219, 219); cursor: default; background-color: rgb(235, 235, 240);
}
[disabled].jui-btn:active {
	border: 1px solid rgb(235, 235, 240); border-image: none; color: rgb(219, 219, 219); cursor: default; background-color: rgb(235, 235, 240);
}
[disabled].jui-btn:hover {
	border: 1px solid rgb(235, 235, 240); border-image: none; color: rgb(219, 219, 219); cursor: default; background-color: rgb(235, 235, 240);
}
.jui-btn-group .jui-btn {
	margin-left: 10px;
}
.jui-btn-group :first-child.jui-btn {
	margin-left: 0px;
}
.jui-btn.tri-after {
	padding: 0px 12px;
}
.jui-btn.tri-left-after::after {
	margin-top: 9px; margin-left: -6px;
}
.jui-btn.tri-right-after::after {
	margin-top: 9px; margin-right: -6px;
}
.jui-btn.tri-bottom-after::after {
	margin: 12px -3px 0px;
}
.jui-btn.tri-top-after::after {
	margin: 0px -3px 2px;
}
.jui-btn.jui-btn-search {
	padding: 0px 9px; border-radius: 0px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.jui-btn.jui-btn-search::after {
	font-family: jui; font-style: normal; font-weight: 400; content: "\e700"; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px;
}
.jui-form-item {
	font-size: 0px; margin-bottom: 10px;
}
.jui-form-item > * {
	font-size: 14px;
}
[class^=jui-input] {
	vertical-align: top; display: inline-block;
}
.jui-input {
	padding: 6px 10px 8px; outline: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 300px; height: 32px; line-height: 19px; font-size: 14px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.jui-form-item-error .jui-input {
	border-color: rgb(244, 51, 60);
}
.jui-input-error {
	border-color: rgb(244, 51, 60);
}
[disabled].jui-input {
	background-color: rgb(230, 231, 236);
}
.jui-input:focus {
	border-color: rgb(0, 170, 238);
}
.jui-input:hover {
	border-color: rgb(0, 170, 238);
}
[disabled].jui-input:focus {
	border-color: rgb(204, 204, 204);
}
[disabled].jui-input:hover {
	border-color: rgb(204, 204, 204);
}
select.jui-input {
	padding: 6px 5px; line-height: 16px;
}
.jui-input-arrow {
	background: url("https://t.alipayobjects.com/tfscom/T1q7FfXbhXXXXXXXXX.png") no-repeat 280px; padding-right: 20px;
}
.jui-input-arrow:hover {
	background-image: url("https://t.alipayobjects.com/tfscom/T1.6FfXo8mXXXXXXXX.png");
}
.jui-input-line {
	width: 400px; height: 0px; margin-top: 15px; margin-left: 15px; border-top-color: rgb(166, 166, 166); border-top-width: 1px; border-top-style: solid;
}
.jui-input-cut {
	color: rgb(26, 26, 26); line-height: 32px; font-size: 14px; margin-right: 5px;
}
.jui-input-label {
	width: 150px; height: 32px; text-align: right; line-height: 32px; padding-right: 10px; font-size: 14px;
}
.jui-form-left .jui-input-label {
	text-align: left; text-indent: 10px;
}
.jui-input-label.ft-left {
	text-align: left; text-indent: 10px;
}
.jui-label-required {
	position: relative;
}
.jui-label-required::before {
	left: -15px; top: 5px; height: 8px; color: rgb(255, 51, 51); line-height: 10px; font-size: 14px; position: absolute; content: "*";
}
.jui-input-another {
	margin-top: 10px; margin-left: 160px; display: block;
}
.jui-input-text {
	line-height: 32px; font-size: 14px;
}
.jui-form-tip {
	height: 20px; color: grey; line-height: 20px; font-size: 12px; margin-left: 160px;
}
.jui-form-tip-another {
	height: 20px; color: grey; line-height: 20px; font-size: 12px; margin-left: 160px;
}
.jui-form-tip-another {
	height: auto; line-height: 18px;
}
.jui-form-item-error .jui-form-tip {
	color: rgb(244, 51, 60);
}
.jui-form-item-error .jui-input {
	color: rgb(244, 51, 60);
}
.jui-form-tip-error {
	color: rgb(244, 51, 60);
}
.jui-input-error {
	color: rgb(244, 51, 60);
}
.jui-form-vertical .jui-input-label {
	width: auto; text-align: left; display: block;
}
.jui-form-vertical .jui-form-tip {
	margin-left: 0px;
}
.jui-checkbox-group {
	height: 32px; line-height: 32px; vertical-align: top; display: inline-block;
}
.jui-radio-group {
	height: 32px; line-height: 32px; vertical-align: top; display: inline-block;
}
.jui-checkbox-group input[type=checkbox] {
	margin-right: 5px;
}
.jui-radio-group input[type=radio] {
	margin-right: 5px;
}
.jui-cut-label {
	position: relative;
}
.jui-cut-label::before {
	top: 7px; width: 100%; border-top-color: rgb(231, 231, 235); border-top-width: 1px; border-top-style: dashed; position: absolute; content: "\200B";
}
.jui-cut-label .jui-message-bar {
	padding-right: 10px; background-color: rgb(255, 255, 255);
}
[class^=jui-table] {
	width: 100%;
}
[class^=jui-table] tr {
	border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.jui-table-lg > thead > tr {
	border-bottom-color: rgb(212, 212, 212); border-bottom-width: 2px; border-bottom-style: solid;
}
.jui-table > thead > tr {
	border-bottom-color: rgb(212, 212, 212); border-bottom-width: 2px; border-bottom-style: solid;
}
[class^=jui-table] td {
	padding: 13px 1em; text-align: left; font-size: 12px; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
[class^=jui-table] th {
	padding: 13px 1em; text-align: left; font-size: 12px; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.jui-table-padding td:first-child {
	padding-left: 20px;
}
.jui-table-padding th:first-child {
	padding-left: 20px;
}
.jui-table-padding td:last-child {
	text-align: right; padding-right: 20px;
}
.jui-table-padding th:last-child {
	text-align: right; padding-right: 20px;
}
[class^=jui-table] th {
	font-weight: 700; background-color: rgb(255, 255, 255);
}
.jui-table-lg td {
	padding: 25px 1em;
}
.jui-table-grid-color {
	background-color: rgb(244, 245, 249);
}
.jui-table-lg > tbody > tr:hover {
	background-color: rgb(244, 245, 249);
}
.jui-table-lg > tbody > tr:nth-child(2n) {
	background-color: rgb(244, 245, 249);
}
.jui-table-lg > tbody > tr:nth-child(2n) {
	background-color: rgb(244, 245, 249);
}
.jui-table > tbody > tr:hover {
	background-color: rgb(244, 245, 249);
}
.jui-table-grid td {
	border-right-color: rgb(231, 231, 235); border-left-color: rgb(231, 231, 235); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.jui-table-grid th {
	border-right-color: rgb(231, 231, 235); border-left-color: rgb(231, 231, 235); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.jui-table-grid {
	border: 1px solid rgb(231, 231, 235); border-image: none;
}
.jui-table-row {
	border: 1px solid rgb(231, 231, 235); border-image: none;
}
.jui-table-grid th {
	background-color: rgb(244, 245, 249);
}
.jui-table-row th {
	background-color: rgb(244, 245, 249);
}
.jui-table-grid td[rowspan] {
	vertical-align: baseline;
}
.jui-table-row td[rowspan] {
	vertical-align: baseline;
}
.jui-table-grid > tfoot > tr {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.jui-table-row > tfoot > tr {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.jui-table-simple > tbody > tr {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.jui-dialog {
	outline: 0px;
}
.jui-dialog-content {
	background: rgb(255, 255, 255); box-shadow: 8px 8px 25px 1px rgba(0,0,0,0.3); -webkit-box-shadow: 8px 8px 25px 1px rgba(0, 0, 0, .3); -moz-box-shadow: 8px 8px 25px 1px rgba(0, 0, 0, .3);
}
.jui-dialog-close {
	top: 3px; right: 13px; color: rgb(166, 166, 166); font-size: 32px; text-decoration: none; display: block; position: absolute; z-index: 10; cursor: pointer;
}
.jui-dialog-close:hover {
	text-decoration: none;
}
.jui-dialog-close em {
	color: rgb(51, 153, 255); font-size: 14px; text-shadow: none;
}
.jui-dialog-title {
	height: 50px; color: rgb(68, 68, 68); line-height: 50px; padding-left: 20px; font-size: 16px; font-weight: 700; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid;
}
.jui-dialog-title .dialog-explain {
	color: rgb(166, 166, 166); font-size: 12px; margin-left: 10px;
}
.jui-dialog-container {
	padding: 10px 0px 0px; overflow: hidden; font-size: 12px;
}
.jui-dialog-message {
	padding: 0px 20px 20px;
}
.jui-dialog-operation {
	padding: 10px 0px 40px; text-align: center; font-size: 0px; -ms-zoom: 1;
}
.jui-dialog-cancel {
	display: inline-block;
}
.jui-dialog-confirm {
	display: inline-block;
}
.jui-dialog-operation .jui-dialog-confirm {
	margin-right: 10px;
}
.jui-process-item {
	margin-top: 20px; position: relative;
}
.jui-process-item::before {
	background: rgb(199, 199, 204); left: 13px; top: -20px; width: 2px; height: 25px; display: block; position: absolute; content: "\200B";
}
:first-child.jui-process-item {
	margin-top: 0px !important;
}
:first-child.jui-process-item::before {
	background: 0px 0px !important;
}
.jui-process-item .jui-process-title {
	height: 32px; color: grey; line-height: 32px; padding-left: 35px; font-size: 14px; position: relative; z-index: 9;
}
.jui-process-item .jui-process-title::before {
	background: rgb(255, 255, 255); left: 5px; top: 8px; width: 18px; height: 18px; position: absolute; content: "";
}
.jui-process-item .jui-process-title::after {
	left: 0px; top: 0px; text-align: center; color: rgb(199, 199, 204); line-height: 32px; font-family: jui; font-size: 28px; font-style: normal; font-weight: 400; position: absolute; cursor: default; content: "\e605"; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px;
}
.jui-process-item .jui-process-subtext {
	margin: -6px 0px 0px 13px; color: grey; line-height: 18px; padding-left: 20px; font-size: 12px; border-left-color: rgb(199, 199, 204); border-left-width: 2px; border-left-style: solid; min-height: 26px;
}
.jui-process-item .jui-process-subtext.ft-14 {
	line-height: 22px; font-size: 14px;
}
.jui-process-item .jui-process-subtext.jui-process-subtext-noborder {
	border-left-color: transparent !important;
}
.jui-process .jui-process-item.success::before {
	background: rgb(0, 170, 238);
}
.jui-process .jui-process-item.success .jui-process-title {
	color: rgb(26, 26, 26);
}
.jui-process .jui-process-item.success .jui-process-title::after {
	color: rgb(0, 170, 238); content: "\e608";
}
.jui-process .jui-process-item.success .jui-process-subtext {
	color: rgb(26, 26, 26); border-left-color: rgb(0, 170, 238);
}
.jui-process .jui-process-item.error::before {
	background: rgb(244, 51, 60);
}
.jui-process .jui-process-item.error .jui-process-title {
	color: rgb(244, 51, 60);
}
.jui-process .jui-process-item.error .jui-process-title::after {
	color: rgb(244, 51, 60); content: "\e601";
}
.jui-process .jui-process-item.error .jui-process-subtext {
	color: rgb(244, 51, 60); border-left-color: rgb(244, 51, 60);
}
.jui-process .jui-process-item.jui-process-custom .jui-process-custom-sign {
	left: 10px; top: 8px; color: rgb(255, 255, 255); line-height: 14px; font-size: 12px; font-weight: 700; position: absolute; z-index: 10;
}
.jui-process .jui-process-item.jui-process-custom .jui-process-title::before {
	content: none;
}
.jui-process .jui-process-item.jui-process-custom .jui-process-title::after {
	content: "\e607";
}
.jui-process.jui-process-hollow .jui-process-item::before {
	left: 14px; width: 1px;
}
.jui-process.jui-process-hollow .jui-process-item .jui-process-subtext {
	margin-left: 14px; border-left-width: 1px;
}
.jui-process.jui-process-hollow .jui-process-item .jui-process-custom-sign {
	left: 11px; top: 8px; color: grey; line-height: 14px; font-size: 12px; position: absolute; z-index: 10;
}
.jui-process.jui-process-hollow .jui-process-item .jui-process-title::before {
	content: none;
}
.jui-process.jui-process-hollow .jui-process-item .jui-process-title::after {
	content: "\e60a";
}
.jui-process.jui-process-horizontal {
	margin: 0px auto; width: 888px;
}
.jui-process.jui-process-horizontal::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.jui-process.jui-process-horizontal .jui-process-item {
	padding: 0px 51px; width: 228px; margin-top: 0px; float: left;
}
.jui-process.jui-process-horizontal :first-child.jui-process-item {
	padding-left: 0px;
}
.jui-process.jui-process-horizontal .jui-process-item.last {
	padding-right: 0px;
}
.jui-process.jui-process-horizontal :last-child.jui-process-item {
	padding-right: 0px;
}
.jui-process.jui-process-horizontal .jui-process-item::before {
	left: -1px; top: 15px; width: 150px; height: 2px;
}
.jui-process.jui-process-horizontal .jui-process-item::after {
	background: rgb(199, 199, 204); top: 15px; width: 150px; height: 2px; right: 1px; display: block; position: absolute; content: "\200B";
}
.jui-process.jui-process-horizontal .jui-process-item.last::after {
	background: 0px 0px !important;
}
.jui-process.jui-process-horizontal :last-child.jui-process-item::after {
	background: 0px 0px !important;
}
.jui-process.jui-process-horizontal .jui-process-item .jui-process-title {
	text-align: center; padding-top: 42px; padding-left: 0px; font-size: 16px;
}
.jui-process.jui-process-horizontal .jui-process-item .jui-process-title::before {
	left: 101px; top: 6px; width: 24px; height: 19px;
}
.jui-process.jui-process-horizontal .jui-process-item .jui-process-title::after {
	left: 95px; font-size: 36px;
}
.jui-process.jui-process-horizontal .jui-process-item .jui-process-subtitle {
	text-align: center; color: grey; line-height: 22px; font-size: 14px; margin-top: -3px;
}
.jui-process.jui-process-horizontal .jui-process-item .jui-process-custom-sign {
	left: 160px; font-size: 14px;
}
.jui-process.jui-process-horizontal :first-child.jui-process-item .jui-process-custom-sign {
	left: 109px;
}
.jui-process.jui-process-horizontal.jui-process-x4 {
	width: 876px;
}
.jui-process.jui-process-horizontal.jui-process-x4 .jui-process-item {
	padding: 0px; width: 219px;
}
.jui-process.jui-process-horizontal.jui-process-x4 .jui-process-item::after {
	width: 94px;
}
.jui-process.jui-process-horizontal.jui-process-x4 .jui-process-item::before {
	width: 94px;
}
.jui-process.jui-process-horizontal.jui-process-x4 .jui-process-item .jui-process-title::before {
	left: 97px;
}
.jui-process.jui-process-horizontal.jui-process-x4 .jui-process-item .jui-process-title::after {
	left: 91px;
}
.jui-process.jui-process-horizontal.jui-process-x4 .jui-process-item .jui-process-custom-sign {
	left: 105px;
}
.jui-process.jui-process-horizontal.jui-process-x4 :first-child.jui-process-item .jui-process-custom-sign {
	left: 105px;
}
.jui-process.jui-process-horizontal .jui-process-item.success::after {
	background: rgb(0, 170, 238);
}
.jui-process.jui-process-horizontal .jui-process-item.error::after {
	background: rgb(244, 51, 60);
}
.jui-process.jui-process-horizontal .jui-process-item.error .jui-process-subtitle {
	color: rgb(26, 26, 26);
}
.jui-process.jui-process-horizontal .jui-process-item.success .jui-process-subtitle {
	color: rgb(26, 26, 26);
}
.jui-process.jui-process-horizontal.jui-process-hollow {
	width: 1176px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item {
	padding: 0px 54px; width: 320px;
}
.jui-process.jui-process-horizontal.jui-process-hollow :first-child.jui-process-item {
	padding-left: 0px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item.last {
	padding-right: 0px;
}
.jui-process.jui-process-horizontal.jui-process-hollow :last-child.jui-process-item {
	padding-right: 0px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item::after {
	top: 16px; width: 198px; height: 1px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item::before {
	top: 16px; width: 198px; height: 1px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item .jui-process-title::after {
	left: 141px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item .jui-process-subtitle {
	margin-top: 0px;
}
.jui-process.jui-process-horizontal.jui-process-hollow .jui-process-item .jui-process-custom-sign {
	left: 209px;
}
.jui-process.jui-process-horizontal.jui-process-hollow :first-child.jui-process-item .jui-process-custom-sign {
	left: 155px;
}
.jui-process.jui-process-lg .jui-process-item {
	margin-top: 29px;
}
.jui-process.jui-process-lg .jui-process-item::before {
	left: 17px; top: -29px; height: 30px;
}
.jui-process.jui-process-lg .jui-process-item .jui-process-title {
	padding-left: 45px; font-size: 16px;
}
.jui-process.jui-process-lg .jui-process-item .jui-process-title::before {
	top: 6px; width: 25px; height: 19px;
}
.jui-process.jui-process-lg .jui-process-item .jui-process-title::after {
	line-height: 32px; font-size: 36px;
}
.jui-process.jui-process-lg .jui-process-item .jui-process-subtext {
	margin: -2px 0px 0px 17px; line-height: 22px; padding-left: 27px; font-size: 14px; min-height: 31px;
}
.jui-process.jui-process-lg .jui-process-item .jui-process-custom-sign {
	left: 14px; font-size: 14px;
}
.jui-process.jui-process-lg.jui-process-hollow .jui-process-item {
	margin-top: 29px;
}
.jui-process.jui-process-lg.jui-process-hollow .jui-process-item::before {
	left: 17px; top: -39px; height: 40px;
}
.jui-process.jui-process-lg.jui-process-hollow .jui-process-item .jui-process-title {
	padding-left: 55px;
}
.jui-process.jui-process-lg.jui-process-hollow .jui-process-item .jui-process-subtext {
	padding-left: 37px; margin-top: -1px; min-height: 40px;
}
.jui-process.jui-process-lg.jui-process-hollow .jui-process-item .jui-process-custom-sign {
	left: 14px; font-size: 14px;
}
.jui-process.jui-process-noborder .jui-process-item::before {
	content: none;
}
.jui-process.jui-process-noborder .jui-process-item .jui-process-subtext {
	border-left-color: transparent !important;
}
.jui-tab {
	padding-left: 10px; border-bottom-color: rgb(231, 232, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.jui-tab li {
	float: left;
}
.jui-tab li a {
	margin: 0px 20px; padding: 15px 0px; top: 1px; color: rgb(26, 26, 26); font-size: 14px; text-decoration: none; display: block; position: relative;
}
.jui-tab li a:hover {
	border-bottom-color: rgb(161, 163, 172); border-bottom-width: 3px; border-bottom-style: solid;
}
.jui-tab li.selected a {
	color: rgb(0, 170, 238);
}
.jui-tab li.selected a {
	border-bottom-color: rgb(0, 170, 238); border-bottom-width: 3px; border-bottom-style: solid;
}
.jui-tab li.selected a:hover {
	border-bottom-color: rgb(0, 170, 238); border-bottom-width: 3px; border-bottom-style: solid;
}
.jui-tab::after {
	width: 100%; height: 0px; clear: both; display: block; content: "\200B";
}
.jui-btn-tab {
	-ms-zoom: 1;
}
.jui-btn-tab::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.jui-btn-tab .jui-btn {
	padding: 0px 10px; border-radius: 0px; width: 60px; border-left-width: 0px; float: left;
}
.jui-btn-tab .jui-btn:hover {
	padding: 0px 10px; border-radius: 0px; width: 60px; border-left-width: 0px; float: left;
}
.jui-btn-tab :first-child.jui-btn {
	border-left-width: 1px;
}
.jui-btn-tab :first-child.jui-btn:hover {
	border-left-width: 1px;
}
