<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="null != ${article} ? ${'编辑文章 - ' + article.name} : '编辑文章'">编辑文章</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
        <style th:include="~{/fragments/common :: style}"></style>
    </head>
    <body>
        <div class="container">
	        <form th:action="@{/article/update}" method="post">
	           	<input style="display:none;" type="text" name="aid" th:value="null != ${article} ? ${article.aid} : ''">
				<div class="form-group col-lg-6 col-md-6">
					<label for="user">分类</label>
					<input type="text" class="form-control" name="path_view" required placeholder="分类"	th:value="null != ${article} ? ${article.path_view} : '/'">
				</div>
				<div class="form-group col-lg-6 col-md-6">
					<label for="user">作者</label>
					<input type="text" class="form-control" name="author" readonly placeholder="作者" th:value="${#session.getAttribute('user')}">
				</div>
		        	<div class="col-lg-12 col-md-12" th:include="~{/fragments/article :: edit(${article}, ${markdown})}"></div>
		        	<p class="col-lg-12 col-md-12">
		        		<button class="btn btn-success" type="submit" th:text="提交"></button>
		        		<button class="btn btn-warning" onclick="javascript: window.location = '/'; return false;" th:text="取消"></button>
		        	</p>
           	</form>
        </div>
    </body>
</html>
