<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="null != ${article} ? ${'查看文章 - ' + article.name} : '查看文章'">查看文章</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
        <style th:include="~{/fragments/common :: style}"></style>
        <style type="text/css">
            .container {
                padding-left		: 0;
                padding-right	: 0;
            }
            .container >div:nth-child(2) {
                padding	: 0;
            }
            .container p {
                padding	: 0 1em;
            }
            .container p a {
                margin	: 0 .5em;
            }
        </style>
    </head>
    <body>
        <div class='container'>
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10">
	            <div th:include="~{/fragments/article :: view(${article}, ${markdown})}"></div>
	            <hr>
	            <p>
	                <a th:href='@{/}'>首页</a>
	                <a th:href="@{/article/edit(aid=${article.aid})}"
	                    th:if="null != ${#session}
	                        and null != ${article}
	                        and ${article.author} == ${#session.getAttribute('user')}">
	                        编辑
	                </a>
	            </p>
	            <hr>
	            <div class='col-lg-12 col-md-12'>
		            <h4>写下你的评论<h4>
		            <div th:include="~{/fragments/article :: edit(null, null)}"></div>
	            </div>
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
    </body>
</html>
