<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="null != ${article} ? ${article.name} : '查看文章'"></title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <style th:replace="~{fragments/common :: style}"></style>
    </head>
    <body>
        <div th:replace="~{fragments/common :: navbar(${article})}"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="row justify-content-between px-3">
                        <small class="text-muted" th:text="${#dates.format(article.time_create, 'yyyy年MM月dd日 HH:mm')}"></small>
                        <span class="my-auto" th:include="~{fragments/common :: share}"></span>
                    </div>
                    <div class="row" th:include="~{fragments/article :: view(${article}, ${markdown})}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
