body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:800px;
}
#u615 {
  position:absolute;
  left:2px;
  top:392px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u618 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u619 {
  position:absolute;
  left:15px;
  top:17px;
  width:10px;
  height:15px;
}
#u620 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCFF;
}
#u621 {
  position:absolute;
  left:29px;
  top:15px;
  width:29px;
  height:20px;
  color:#CCCCFF;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCFF;
}
#u623 {
  position:absolute;
  left:355px;
  top:15px;
  width:29px;
  height:20px;
  color:#CCCCFF;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCFF;
}
#u625 {
  position:absolute;
  left:306px;
  top:15px;
  width:39px;
  height:20px;
  color:#CCCCFF;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u627 {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
  height:710px;
  overflow:hidden;
}
#u627_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:710px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u627_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:220px;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:220px;
  opacity:0.5;
}
#u631 {
  position:absolute;
  left:2px;
  top:102px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u632 {
  position:absolute;
  left:23px;
  top:113px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u634 {
  position:absolute;
  left:23px;
  top:156px;
  width:113px;
  height:20px;
  color:#999999;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:10px;
  top:660px;
  width:380px;
  height:170px;
}
#u638 {
  position:absolute;
  left:2px;
  top:77px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  position:absolute;
  left:150px;
  top:744px;
  width:100px;
  height:10px;
}
#u641 {
  position:absolute;
  left:2px;
  top:-3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:100px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:195px;
  top:699px;
  width:10px;
  height:100px;
}
#u643 {
  position:absolute;
  left:2px;
  top:42px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:240px;
}
#u644 {
  position:absolute;
  left:10px;
  top:230px;
  width:380px;
  height:240px;
  text-align:left;
}
#u645 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:170px;
}
#u646 {
  position:absolute;
  left:10px;
  top:480px;
  width:380px;
  height:170px;
  text-align:left;
}
#u647 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCFF;
}
#u649 {
  position:absolute;
  left:0px;
  top:760px;
  width:400px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCFF;
}
#u650 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
