
* {
    box-sizing          : border-box;
    -webkit-box-size    : border-box;
    -webkit-overflow-scrolling  : touch;
}

body {
    margin      : 0;
    padding     : 0;
}

table {
    border-collapse : collapse;
}

input {
    height      : 1.5em;
    font-size   : 1em;
    background  : transparent;
    border      : none;
    appearance          : none;
    -webkit-appearance  : none;
    border-radius           : .4em;
    -webkit-border-radius   : .4em;
}

select {
    height      : 1.5em;
    font-size   : 1em;
    background  : transparent;
    border      : none;
    appearance              : none;
    -webkit-appearance      : none;
    border-radius           : .4em;
    -webkit-border-radius   : .4em;
}

a {
    text-decoration : none;
}

.wechat { }
.wechat .frame { width : 100%; height : 100%; }
.wechat .frame .head { height : 0; }
.wechat .frame .body {
    position    : absolute;
    z-index     : -1;
    top         : 0;
    bottom      : 0;
    left        : 0;
    right       : 0;
    overflow    : auto;
}

.wechat .button {
    text-align  : center;
    cursor      : default;
    border-radius           : .4em;
    -webkit-border-radius   : .4em;
    transition          : background .2s, border .2s;
    -webkit-transition  : background .2s, border .2s;
}

.wechat .button-large { margin : .5em 1.5em; line-height : 2em; }
.wechat .button-small { margin : .5em 1.5em; line-height : 1.5em; }

.wechat .button-major        { background : #04be02; border : 1px solid rgba(0, 0, 0, .2); color : white; }
.wechat .button-major:hover  { background : #04cc02; border : 1px solid rgba(0, 0, 0, .1); }
.wechat .button-major:active { background : #038f02; border : 1px solid rgba(0, 0, 0, .2); color : lightgray; }

.wechat .button-minor        { background : #ef4f4f; border : 1px solid rgba(0, 0, 0, .2); color : white; }
.wechat .button-minor:hover  { background : #ef6322; border : 1px solid rgba(0, 0, 0, .1); }
.wechat .button-minor:active { background : #ef3b7c; border : 1px solid rgba(0, 0, 0, .2); color : lightgray; }

.wechat .button-disable        { background : #cccccc; border : 1px solid rgba(0, 0, 0, .2); color : white; }
.wechat .button-disable:hover  { background : #dddddd; border : 1px solid rgba(0, 0, 0, .1); }
.wechat .button-disable:active { background : #aaaaaa; border : 1px solid rgba(0, 0, 0, .2); }

.wechat .list { border-top : 1px solid lightgray; }
.wechat .list * { cursor  : default; }

/* list cell */
.wechat .list >div {
    position        : relative;
    background      : rgba(0, 0, 0, .01);
    border-bottom   : 1px solid lightgray;
    transition          : background .2s, border .2s;
    -webkit-transition  : background .2s, border .2s;
}
.wechat .list >div:hover  { background : white; }
.wechat .list >div:active { background : rgba(0, 0, 0, .1); }

.wechat .list .cell-sg { height : 2.5em; padding : .5em 1.5em; font-size : 110%; }

.wechat .list .cell-kv { height : 2.5em; padding : .5em 1.5em; font-size : 110%; }

.wechat .list .cell-kv >*:nth-child(1) {
    float       : left;
    width       : 24%;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis;
}

.wechat .list .cell-kv >*:nth-child(2) {
    float       : right;
    width       : 75%;
    color       : gray;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis;
    text-align  : right;
}

/* list cell icon-label-description */
.wechat .list .cell-ild {
    height  : 6em;
    padding : 1em;
}
/* cell icon */
.wechat .list .cell-ild >img {
    float   : left;
    width   : 4em;
    height  : 4em;
}
/* cell label */
.wechat .list .cell-ild .lab {
    position        : absolute;
    left            : 6em;
    right           : 7em;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis;
    font-weight     : 800;
}
/* cell description */
.wechat .list .cell-ild .des {
    position        : absolute;
    left            : 6.6em;
    right           : 1.4em;
    bottom          : 1.1em;
    height          : 2.1em;
    line-height     : 1.1em;
    font-size       : 90%;
    word-wrap       : break-word;
    overflow        : hidden;
    text-overflow   : ellipsis;
    color           : gray;
}
/* cell mark 2 */
.wechat .list .cell-ild .m2 {
    position        : absolute;
    top             : 2.2em;
    right           : 7em;
    padding         : 0 .5em;
    font-size       : 50%;
}
/* cell mark 1 */
.wechat .list .cell-ild .m1 {
    position        : absolute;
    top             : 2.2em;
    right           : 2em;
    padding         : 0 .5em;
    font-size       : 50%;
}

.wechat .tips {
    margin      : .5em 1.5em;
    color       : gray;
}

.wechat .toast {
    position    : absolute;
    z-index     : 5;
    max-width   : 80%;
    top         : 70%;
    left        : 50%;
    padding     : .5em 1.5em;
    color       : #eeeeee;
    background  : rgba(0, 0, 0, .5);
    line-height : 1.5em;
    opacity     : 0;
    text-align  : center;
    transform           : translate(-50%, -50%);
    -webkit-transform   : translate(-50%, -50%);
    border-radius           : .5em;
    -webkit-border-radius   : .5em;
    transition          : opacity .2s;
    -webkit-transition  : opacity .2s;
}

.wechat .tab { }

/* tab head */
.wechat .tab >div:nth-child(1) {
    position    : absolute;
    z-index     : 1;
    top         : 0;
    width       : 100%;
    cursor      : default;
}

/* tab head cell: need set 'width' by '%'  */
.wechat .tab >div:nth-child(1) >div {
    float       : left;
    height      : 3em;
    line-height : 3em;
    text-align  : center;
    border      : 1px solid lightgray;
    transition          : background .2s;
    -webkit-transition  : background .2s;
}

.wechat .tab .da        { background : rgba(0, 0, 0, .01); }
.wechat .tab .da:hover  { background : white; }
.wechat .tab .da:active { background : rgba(0, 0, 0, .1); }
.wechat .tab .ac        { background : rgba(0, 0, 0, .1); }

/* tab body */
.wechat .tab >div:nth-child(2) {
    position    : absolute;
    top         : 3em;
    bottom      : 0;
    width       : 100%;
    overflow    : auto;
}

.wechat .tab >div:nth-child(2) >div {
    transition          : opacity .2s;
    -webkit-transition  : opacity .2s;
}

