<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    
        <style th:fragment="style" type="text/css">
            * {
                font-family : "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
            }
        </style>
        
        
        <nav th:fragment="navbar(article)" class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse-1">
                <ul class="navbar-nav">
                    <li class="nav-item"
                        th:if="
                                ${#request.requestURI.startsWith('/article/view/')}
                            and null != ${article}
                            and null != ${#session}
                            and ${#session.getAttribute('user')} == ${article.author}
                        "><a class="nav-link" th:href="@{/article/edit?aid=} + ${article.aid}">编辑</a></li>
                    <li class="nav-item"
                        th:if="
                                ${#request.requestURI.startsWith('/article/view/')}
                            and null != ${#session}
                            and null != ${#session.getAttribute('user')}
                        "><a class="nav-link" th:href="@{/article/edit}">发布</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"
                        th:if="
                                null != ${#session}
                            and null != ${#session.getAttribute('user')}
                        "><a class="nav-link" th:href="@{/user/logout}">注销</a></li>
                    <li class="nav-item"
                        th:if="
                                null == ${#session}
                            or  null == ${#session.getAttribute('user')}
                        "><a class="nav-link" th:href="@{/user/login}">登录</a></li>
                </ul>
            </div>
            <script th:src="@{/editormd/examples/js/jquery.min.js}"></script>
            <script th:src="@{/bootstrap/js/popover.min.js}"></script>
            <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        </nav>
        
        <div th:fragment="share">
            <style>
                .jiathis_style {float : right;}
                .jiathis_style .jiathis_counter_style .jiathis_counter {width : 36px !important;}
            </style>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_weixin"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
        
    </body>
</html>